[2016-08-18 07:05] sacdallago opened #2 "Use feature model"
Please --->**DON'T**<--- commit on develop directly.
Open a branch for your feature, work on it, open a PR when done, get it approved or rejected by other developers in your team.

We have highlighted multiple times the correct way of submitting code until now, please read it and/or watch the video, people not following the correct pattern will be deducted points from now on.

[2016-08-18 07:05] sacdallago commented on #2
@philbu

[2016-08-18 07:49] philbu commented on #2
I'm sorry. Saw that email after my push. Won't happen again.

[2016-08-18 08:08] sacdallago commented on #2
All cool ;)

[2016-08-18 08:08] #2 closed

[2016-08-19 10:22] johartl opened #3 "Shell of MVC web app"
Decide on which JavaScript framework to use (Angular, React, Backbone) and create a shell of a Model-View-Controller website.

[2016-08-19 10:23] johartl opened #4 "Navigation menu"
Create the menus that will load the apps created in projects B-D.

[2016-08-19 10:26] johartl opened #5 "UI design drafts/mocks"
Discuss a possible user interface design and draw some mocks.

From the project description:

Separate web pages would allow the search and presentation of individual Pokemons and the information we gathered about them, including third party data (project A) and twitter analysis (project C)

[2016-08-19 10:33] sacdallago commented on #3
I **STRONGLY** suggest that you start looking into:
- https://meteor.com
- http://ionicframework.com
- Cordova / PhoneGap
- https://www.nativescript.org/

PokemonGo is played on mobile phones so the best idea would be have the web-app run natively on a mobile phone ;)

[2016-08-19 10:36] johartl opened #6 "Set up CI server and host app"
This issue consists of a few activities:
- Research and select a provider for free server hosting.
- Install required packages and libraries on the server.
- Set up a Continuous Integration process that
 - Fetches the sources from each project
 - Executes test cases (if available)
 - Triggers the build process, e.g. transpile ES6/TS/Sass sources, optimize and uglify the code, bundle the applicatio

[2016-08-19 10:37] johartl opened #7 "Integrate Project B: PredictPokemon"

[2016-08-19 10:38] johartl opened #8 "Integrate Project C: Twitter"

[2016-08-19 10:38] johartl opened #9 "Integrate Project D: PokeMap"

[2016-08-19 10:39] sacdallago commented on #6
Docker might be something you want to look into. If you use docker, we can ship the app on our servers

[2016-08-19 10:45] johartl opened #10 "Request user location"
One requirement is to request the user's location from the client device (mobile phone/tablet or desktop browser?) and display it on the map. I suggest that we talk to members of the PokeMap team as they might already request the location as part of their project.

[2016-08-19 10:54] johartl opened #11 "List of available/predicted Pokemon"
From the project description:

Again, we need to collaborate with the PokeMap team and discuss how we can handle the interaction between the Pokemon list and the map.
For the design and location of the list within the app please refer to #5.

[2016-08-19 10:54] sacdallago commented on #10
It's a very easy task to do in JS ;)

[2016-08-19 10:57] johartl opened #12 "Pokedex / Detail Pokemon page"
From the project description:

[...]

[2016-08-19 11:00] johartl opened #13 "Pokemon search bar"
Using a search bar it should be possible to quickly access the Pokemon detail pages (#12).

[2016-08-19 11:02] johartl commented on #10
That's what I like to hear :)

[2016-08-19 11:10] johartl commented on #5
To start the discussion, here are the mock ups from @WoH.
![Mock up mobile device](https://files.gitter.im/rostlabjs16projecte/Lobby/DAOA/Pok_mon-mobile.PNG)
![Mock up desktop browser](https://files.gitter.im/rostlabjs16projecte/Lobby/It5b/Pok_mon-Browser.PNG)

[2016-08-19 11:22] johartl commented on #3
@sacdallago Thanks for your hints. From your personal experience, do you have any preference for one framework or the other? How do they differ and is there a framework you would recommend for this project?

[2016-08-19 11:40] WoH commented on #3
@johartl If we use React, we can use React Native for mobiles.
Same goes for Angular 2 and Ionic 2 or Angular 1 and Ionic.
Nativescript is new to me, I'll check it out. I like A2 with Typescript so it looks interesting.

[2016-08-19 23:14] sacdallago commented on #3
@johartl honestly I never yet used any :see_no_evil:
I used meteor when it was still in alpha and beta up to 0.9 and it's an excellent framework! I heard from my ex-colleagues that it's also fairly easy to package the apps in iOS and android apps.

I'd personally go for ionic (2 + angular) because they seem the most exciting.

@WoH the only thing about A2 that doesn't convince me is TypeScript...

[2016-08-20 03:00] WoH commented on #3
@sacdallago Doesn't that exclude React aswell then since it uses JSX? Like I'm fine using whatever I just don't completely see the argument. Both are supersets of JS.

[2016-08-20 06:19] sacdallago commented on #3
@WoH true. But we'd like to keep you superset or framework agnostic for as much as we can, though I obviously see the limitations in that concern (being that I myself suggested framework to start with ahah)
@gyachdav you have the final word

[2016-08-20 07:27] gyachdav commented on #3
No problem with A2 in principal. Just keep in mind that other projects may want to contribute code to your repo and if they encounter Typescript that may discourage them from doing so (or they'll just ask you to develop features for them). So if I were you I'll try to stick to something more familiar. For instance m, the transition from JS to JSX is really straightforward.

[2016-08-20 12:02] goldbergtatyana commented on #5
Wow, very good job @WoH :+1: We also need to show what are the pokemons that we predict. This we can do either instead the place icons or in addition to them.

Btw, looking at the updated description of project C (#PokemonGo) we will also show PokeMobs, i.e. if we see many tweets coming from a certain location we can expect many people being at that location who spotted someting interesting (= pok

[2016-08-20 12:04] goldbergtatyana commented on #7
From PredictPokemon groups you will get 1) the name of a pokemon, 2) its location, 3) time point and 4) possibly a likelihood of its appearance in percentage. For now you can generate some dummy data in a file and read it from there.

[2016-08-20 13:19] WoH commented on #5
@goldbergtatyana The image of the Pokémon should definitely displayed in the detail view, the X'd areas are the placeholders for the images.

I was thinking displaying the information in a feed that updates both on new feedback or new relevant predictions (in terms of time and loction), basically a text based index of the information otherwise presented on the map.

Edit 1:
![pokemon browser 2](ht

[2016-08-20 13:42] goldbergtatyana commented on #5
I like @WoH! In the selected pokemon detail view we could show all kinds of detailed info. In the live feed  cards we can only show essential info for that pokemon.

How do we show PokeMobs?

[2016-08-20 14:01] WoH commented on #5
@goldbergtatyana PokeMobs is the Pokemon database we use to get the Pokemon details?

First suggestion obviously to maybe add a search bar in the main screen that takes you to the "wiki view". Also, I should show the navigation menu already in the mockups, there should be a link to a "wiki view". I'm on it!

[2016-08-20 14:07] WoH commented on #5
![pokemon browser 3](https://cloud.githubusercontent.com/assets/2697771/17831681/c22a19ca-66ef-11e6-9b72-68ff5a4c7aa6.PNG)

Working on a wiki overview now. Maybe show a search bar and a list of Pokémon or one of however many "Did you know?" tips if we can find a few before the user looks up a Pokémon.

[2016-08-20 14:24] goldbergtatyana commented on #5
@WoH a PokeMob is a location with an accumulating number of tweets coming from. Inspired by [https://www.youtube.com/watch?v=MLdWbwQJWI0 ](https://www.youtube.com/watch?v=MLdWbwQJWI0) we can call such a location a mob. You will get the data about a mob from Group 5 ( #PokemonGo ).

[2016-08-20 14:27] goldbergtatyana commented on #5
@WoH very much like your naviagtion menu. I can imagine having the following items there:
- Map
- Pokemons (this is the wiki page; how about having it structured as [https://got.show/characters](https://got.show/characters)?)
- Statistics (or 'Did you know?') - im sure we'll be able to fetch a bunch of interesting facts from database and machine learning prediction people
- About

[2016-08-20 14:35] WoH commented on #5
@goldbergtatyana Ok, thanks for clarifying. Since these mobs are around a certain Pokemon I think it  would it be nice to maybe have a card with red background and a special indicator on the map for these Mobs?

I'm thinking of something like this:
![pokemon browser mob](https://cloud.githubusercontent.com/assets/2697771/17831815/0cc70480-66f4-11e6-8e48-114516239048.PNG)

[2016-08-20 14:38] goldbergtatyana commented on #5
super cool, @WoH !!!

[2016-08-20 14:54] WoH commented on #3
Thanks for clarifying @sacdallago and @gyachdav . I can definitely see that.
Although I think we could use Typescript without type annotations or more "vanilla JS" style, we might just be better off using React and maybe lower the barrier for people that haven't used either one of these yet. You certainly need more initial understanding of the framework in the case of A2.

[2016-08-20 15:07] sacdallago commented on #5
(One comment and one note)
Mockups look great and so are the ideas but keep in mind:
The target is a mobile app, not a desktop app! Always design thinking mobile first! ;) This changes a lot of things, most of the time (limited screen space, bandwidth, use pop-ups, models, etc)

[2016-08-20 15:09] WoH commented on #5
@sacdallago I got that in mind, I am working on mobile view as we speak, but the main difference is the live feed that is probably not going to end up on the main screen for mobile in order to have more space for map and detail view on mobile.

[2016-08-20 15:15] WoH commented on #5
![mobile reg](https://cloud.githubusercontent.com/assets/2697771/17832019/9765c716-66f9-11e6-8318-a32515189d78.PNG) ![mobile mob](https://cloud.githubusercontent.com/assets/2697771/17832020/9766dc78-66f9-11e6-99da-3542bbac4b40.PNG)

[2016-08-20 15:16] WoH commented on #5
@sacdallago Thanks for the feedback, here are the mockups (regular Pokémon and Pokémon mob):
![mobile reg](https://cloud.githubusercontent.com/assets/2697771/17832019/9765c716-66f9-11e6-8318-a32515189d78.PNG) ![mobile mob](https://cloud.githubusercontent.com/assets/2697771/17832020/9766dc78-66f9-11e6-99da-3542bbac4b40.PNG)

[2016-08-20 17:55] johartl commented on #3
I suppose we can just use A2 with ES2015 syntax? I tried TypeScript myself once and encountered some difficulties with the type definition files of external libraries (they were either incomplete or incorrect). This can be really frustrating for inexperienced developers and just introduces some barriers to learning Angular (or any other framework).

[2016-08-25 19:08] johartl commented on #3
@sacdallago @gyachdav I'm a bit confused. I initially thought that the expected outcome of the project is a web app that runs in the browser and is tailored towards mobile devices. But if I understand correctly, Ionic, ReactNative and PhoneGap are all frameworks to create an Android/iOS app.
So, are there any restrictions or preferences on the platform ("native" app or web app)? And also, won't th

[2016-08-26 04:18] sacdallago commented on #3
@johartl very good observation. Let me go into a few things here:

It depends on the framework you choose:
- With Meteor, you can develop the entire application as a native web-app and then just [add the ios/android SDKs](https://www.meteor.com/tutorials/blaze/running-on-mobile) when the application is coded.
- With ionic there are ways to [deploy the app as a website](http://stackoverflow.com/que

[2016-08-29 07:58] MajorBreakfast opened #14 "Everyone should join our gitter room"
Hey everyone,

**Edit: Changed What's App to Gitter.**

Everyone should install the App on his/her **cell phone** and join our room.

Note: Plz use the  ~~What's App~~ Gitter group for small inquiries only. Let's keep the main communication on github! And: You know how it is, don't spam. That only leads to people muting the channel. Only post stuff that's relevant to everyone. No, one-on-one chats

[2016-08-29 07:58] MajorBreakfast opened #15 "Welcome :)"
Hey everyone,

at first when I originally signed up for this seminar in the matching system I didn't get in. However, now that I'm in I'm a bit late to the party. I'm guessing that there was some kick-off meeting that I didn't attend. So, I have some questions:

- [x] How many members are we?
- [x] What's the deadline?
- [ ] Do we have regular team meetings?
- [x] We need a fast way to communicate

[2016-08-29 08:16] MajorBreakfast commented on #3
Let's use cordova with polymer.

### Why cordova
- Cordova is simple and it works incredibly well
- There is no lock-in. Cordova-only code can be easily isolated with `if (typeof cordova !== 'undefined) { ... }` Cordova apps really are just regular websites

### Why polymer
- Light and flexible.
- Web components are awesome. Scoped styles and custom elements are the future
- Incredible UI, check o

[2016-08-29 08:22] MajorBreakfast commented on #6
Let's use travis ci like everyone. Our project is open source, so it's free.

[2016-08-29 09:13] WoH commented on #15
@MajorBreakfast
Hi and welcome,
we are currently 8 members,
our deadline and all the official details should be listed here:
https://rostlab.org/owiki/index.php/Javascript_technology_2016-2

We use gitter to communicate:
https://gitter.im/rostlabjs16projecte/Lobby

[2016-08-29 09:27] WoH commented on #15
Also, you should've been added to the JST Group on by Guy on Google Group:
https://groups.google.com/forum/#!forum/javascript-technology-2016-ws

Otherwise, request an invite please.

[2016-08-29 10:18] MajorBreakfast commented on #15
@WoH
- I just got the google group invite. There was a slight delay because my google account has a different email address. So, that's now alright.
- I think that we all should meet in person at the university from time to time
- What do we need to get done before presentation week? (Except the presenation itself of course)

[2016-08-29 10:20] MajorBreakfast commented on #14
@philbu, @Georrgi, @johartl, @mfkaptan, @Lugitan Plz join the gitter room and install the gitter app.

[2016-08-29 10:52] WoH commented on #15
We can set up meetings, there is some planning going on via gitter.
I will personally not press this in any way tough.

Our To-Do list is pretty much the Issue tracker, specifically #3 , #6 #7 #8 and #9 .
Basically a mobile-first JS application that integrates all the other Projects. You can find details about these here: https://rostlab.org/owiki/index.php/Javascript_technology_2016-2

I've done

[2016-08-29 10:54] WoH commented on #15
Deadline should be in 41 days if my calculations are correct.

[2016-08-29 10:56] WoH commented on #14
Our gitter for everything around the Project:
https://gitter.im/rostlabjs16projecte/Lobby

I'd suggest to leave this open though since I agree they should join the other one aswell.

[2016-08-29 10:58] WoH commented on #14
@MajorBreakfast I added you, hope you don't mind

[2016-08-29 11:05] WoH commented on #3
@MajorBreakfast I've started to work on an Ionic app for now, I agree on Cordova 100% and the conclusion to not use Meteor. I have never used Polymer and I know @johartl knows Angular1 so that sounded like a good compromise.
0970e8d78f1e2a760786a9bf045662bd100f6aff

[2016-08-29 11:23] MajorBreakfast commented on #3
@WoH Did you look at my app created with polymer? (https://wolfserviceapp.com) The reason why I'm pushing Polymer is because of the UI. Polymer is crazy good at UI because google created all these web components.

Ionic on the other hand is just a css framework + angular + cordova. Correct me if I'm wrong. No modern web component features like shadow DOM and scoped styles.

[2016-08-29 11:26] MajorBreakfast commented on #15
I'm wondering why the projects are supposed to start before presentation week. I don't really get what the talks are really for if everyone is already supposed to know everything about JavaScript development beforehand. The talks are supposed to introduce everyone to various topics and on the other hands we're supposed to choose a suitable framework in advance. I don't see how other team members t

[2016-08-29 11:33] WoH commented on #3
I don't know polymer beyond "this thing exists".
Ionic 2 has everything you mentioned due to A2 but I didn't feel like I could push it due to the concerns @gyachdav mentioned [241184884](PokemonGoers/Catch-em-all/issues/3#issuecomment-241184884)

Edit: I'm checking polymer right now, give me a day or 2 and I will be ready to give useful feedback.

[2016-08-29 11:38] MajorBreakfast commented on #14
@WoH Perfect.

I also added everyone to the public gitter room.

Everyone is now in both rooms. So, I'm closing this issue now.

[2016-08-29 11:38] #14 closed

[2016-08-29 11:48] WoH commented on #15
I can't help you out with this, I guess this is just the way it is right now..
@juanmirocks @sacdallago are in charge, foward your concerns to them :smiling_imp:

[2016-08-29 11:52] MajorBreakfast commented on #3
I don't like the idea of using Angular 1 for the same reason as I don't like Python 2. ("Replaced by something newer")

About Angular 2: Are there any good UI solutions for it? UI is Polymer's strong point. So Angular 2 should be really good at UI as well if we were to choose it. As I see it, the UI is not a part of Angular's core. That in itself doesn't matter, as long there is a good solution.

[2016-08-29 11:56] gyachdav commented on #15
@MajorBreakfast not really the place to discuss this on a GitHub issue but since we have it on here i'll answer anyways.

The seminar used to be primarily about researching and presenting the topics and in addition building a small web app that is related to the assigned topic. Over the past two semesters we are trying to move to a new model in which the projects are becoming more important, howev

[2016-08-29 11:59] MajorBreakfast opened #17 "Team Meeting"
Let's meet in person! Here's the doodle:

http://doodle.com/poll/iisgiiv97qsqykhi

Note that I've included tomorrow in the list. However, that's maybe a bit too soon. Let's just see how quick everyone is with filling in the doodle.

[2016-08-29 12:02] MajorBreakfast commented on #15
@gyachdav Ah I see. Thanks for the clarification!

I'm closing this issue now. #17 now deals with the team meeting.

[2016-08-29 12:02] #15 closed

[2016-08-29 23:36] MajorBreakfast commented on #10
We can use `navigator.geolocation.getCurrentPosition(success, error)`

https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation

[2016-08-29 23:36] MajorBreakfast commented on #6
#18 adds CI to our project.

Fetching the sources from the other projects could be done via git at first. It is possible to specify git dependencies in `package.json`. Later on we should help the other teams with publishing their projects to npm and let them define a public API that we can use. Then, we can switch to npm package dependencies with proper semver compliant versioning.

[2016-08-29 23:39] MajorBreakfast commented on #17
Update: 5 of 8 people already responded. Looks like we're going to meet at 6pm on either Wed, Thu, or Fr!

[2016-08-30 04:01] sacdallago commented on #17
@MajorBreakfast good initiative! But this is one of those things I would keep on google groups or gitter chat rather than github issues :) A rule of thumb: anything organizational or out-of-project-topic you better decide elsewhere

[2016-08-30 04:02] sacdallago commented on #6
I would close this issue and open up one for the hosting once we have a prototype. Opinions?

[2016-08-30 04:02] #6 closed

[2016-08-30 04:05] sacdallago commented on #10
@MajorBreakfast precisely.
Make sure you check the browser compatibility before that. I would say that if someone with a shitty browser is trying to access then just tell them to upgrade! It's 2016, no need to be so retro-friendly!

As a general note: @PokemonGoers/catch-em-all start assigning labels, milestones and assignees to issues. Maybe you can discuss and do this during your meeting.  It's

[2016-08-30 05:05] sacdallago commented on #3
@MajorBreakfast do you work for Google or something?
:joy: :joy: :joy: :joy: :joy: :joy: :joy: :joy: :joy: :joy: :joy: :joy: :joy: :joy: :joy: :joy: :joy:
JK, but yeah, I agree: Polymer is sick for mobile use.

[2016-08-30 06:03] MajorBreakfast commented on #17
@sacdallago Because gitter is a chat it's very easy to miss something like a link. Unless you're totally against it I'd rather track important things with a clear end date as issues as well. This issue will be closed in less than a week. (If you close it again, I won't reopen)

[2016-08-30 06:05] MajorBreakfast commented on #3
@sacdallago Haha Don't forget that I'm trashing Angular by Google :) But I agree. It's good for mobile. Mobile demands a lot of animations.

[2016-08-30 06:08] MajorBreakfast commented on #10
Supported by every major browser http://caniuse.com/#search=geolocation

[2016-08-30 06:14] sacdallago commented on #17
Hm... I rather have you use google groups then (if in gitter you loose track, which is understandable. It's also totally ok if you open a thread now! If one of us tutors will be free, we might join as well).
It's bad practice to mix organizational aspects with code in open-source communities :)
Don't get me wrong! I don't mean to be an asshole! But I rather have you do things the usual/right way

[2016-08-30 06:14] #17 closed

[2016-08-30 06:20] MajorBreakfast opened #20 "Hosting"
- [ ] Domain (see #62)
- [x] SSL certificate: StartSSL
- [x] Hosting provider that supports SSL: Docker node provided by chair
- [x] CDN (optional, but recommended): Maybe cloudflare, but let's not use a CDN during development
- [x] ~~MongoDB service (Project A probably won't do that for us)~~

***

- ~~Which provider should we use?~~
- ~~Who wants to look into what?~~
- ~~Maybe something with doc

[2016-08-30 06:22] MajorBreakfast commented on #6
Follow up issue about hosting #20

@sacdallago Don't close before follow up issues are created ;)

[2016-08-30 06:26] MajorBreakfast commented on #17
@sacdallago Ah okay. So, I'll post it in Google groups.

[2016-08-30 06:29] sacdallago commented on #20
1. We have a server
2. We are using docker already for the API project (although only one node, I'm poor :D ) --> would be nice to keep the docker story up
3. Let's encrypt for the SSL cert or startSSL as free alternatives
4. I'd rather stay away from heroku because while with docker cloud you can find a workaround to resolve the app to your own DNS for free, not so sure about heroku
5. Why would

[2016-08-30 06:38] MajorBreakfast commented on #17
Here is the link to the google group post. I've created a channel for all imporant Project E announcements.

https://groups.google.com/forum/#!topic/javascript-technology-2016-ws/qHMTX8Og9eo

[2016-08-30 06:47] MajorBreakfast commented on #20
@sacdallago Ah okay. I didn't know where the separation was going to be. So, we don't need a database.

Let's use the docker node by the chair. I've updated the list.

[2016-08-30 06:50] MajorBreakfast commented on #7
What form will the integration have? Will Project B provide a JSON API? Is there an issue on the details for this in the other project? Will we interact directly with the JSON API or through the map?

[2016-08-30 06:50] MajorBreakfast commented on #8
@johartl The hashtag was missing ;) I've renamed it to twitter so that it's clear.

[2016-08-30 06:51] MajorBreakfast commented on #9
What form will the integration have? Will the project be teams design some kind of client-side JavaScript API for us to use to display their map? Is there an issue for this in the other project?

[2016-08-30 07:08] sacdallago commented on #9
CC: @PokemonGoers/pokemap-1 @PokemonGoers/pokemap-2

the way it was done last semester, was that the map was packaged in an npm package which the web-project guys just had to download via package.json and use in their webpages (a simple `div` to stick wherever you need it).

There are though some initialization parameters that you would need to keep in mind, as: source of the data, center of the m

[2016-08-30 07:24] MajorBreakfast commented on #9
Here's a summary:

### What we (Project E) do:
- Initialize the map

  e.g. `new PokeMap(div, options)`
- Create the actual UI around the map: Buttons (for zooming, etc.), dialogs

### What the mapping teams (Project D) do:
- Create map itself, not the UI around
- Create a client side API, a script for us to include
  - Define which options the map expects at initialization
  - Provide methods for

[2016-08-30 08:00] MajorBreakfast commented on #3
Depending on what framework we choose, someone with expirience with the chosen framework should do the intial design of the app. We should determine what that exactly entails (routing + which pages) at our first team meeting. Once we have the coarse app structure, we can then divide the follow up work amongst ourselves.

[2016-08-30 08:06] MajorBreakfast opened #21 "First deployment"
After we've decided all hosting related choices in #20, we'll be able to do our first deployment.

- [x] Make our app a docker container
- [x] Deploy to chair's docker node
- [x] Add link to our README

[2016-08-30 08:06] MajorBreakfast commented on #20
@sacdallago Will the chair provide us with the domain as well?

[2016-08-30 09:18] sacdallago commented on #20
@MajorBreakfast We didn't buy a domain just yet. If you have any proposals (of available ones, of course) I'd be happy to hear them.
Preferably we all vote (all as in all 35 people involved in this project).

Unfortunately we have to buy everything ourselves. From the chair we only get one server, which happens to be very limited and not too collaborative at times. So I'm usually falling back on m

[2016-08-30 09:26] MajorBreakfast commented on #20
pokeTUM.com :)

pokemon.rostlab.org

[2016-08-30 09:28] sacdallago commented on #20
Oh... if possible, leave TUM out of the game :D They don't like us affiliating them too much 😂

[2016-08-30 09:31] MajorBreakfast commented on #20
pokemap24.com

[2016-08-30 09:31] gyachdav commented on #20
PokePoint is my preferred name

[2016-08-30 09:31] MajorBreakfast commented on #20
pokepoint.com is taken

[2016-08-30 09:33] MajorBreakfast commented on #20
pokesnag.com

[2016-08-30 09:34] gyachdav commented on #20
doesn't have to be a .com. Also this can be the app name and not the website. But anyways we can collect name suggestions and bring them to a general vote during presentation week. @MajorBreakfast can you start a doodle around that?

[2016-08-30 09:42] goldbergtatyana commented on #20
Poke.map, poke.go, poke.point (if any of these possible)

[2016-08-30 10:07] mfkaptan commented on #20
Have you guys heard about https://education.github.com/pack ? Could be useful for domain, ssl and hosting (even if not, still useful for personal usage ;) )

[2016-08-30 17:36] johartl commented on #3
Totally agree! If our choice happens to be Angular2 (or related) I'm glad to help out here.
But regardless of which framework we will decide on I hope we make our choice as soon as possible (preferably tomorrow during our meeting) so we can finally start making progress (in terms of written code). It would be good if everyone in the group is aware of the frameworks and their advantages, drawbacks

[2016-08-31 07:45] AlexanderLill opened #22 "Book room for team meeting"
- [x] Book room
- [x] Bring whiteboard markers
- [x] Bring HDMI cable and adapter to DisplayPort

[2016-08-31 07:47] #22 closed

[2016-08-31 09:16] MajorBreakfast commented on #22
BTW the tutors don't want that we create organizational issues ;) Don't do it :P

[2016-08-31 09:20] AlexanderLill commented on #22
I just had the following quote from Tatyana Goldberg in my mind when I booked the room:
»Do not hold back with reporting EVERYTHING that's happening around your project on GitHub. It takes some time, but soon reporting on GitHub will be as natural for you as brushing the teeth :)«

But okay, thanks for the clarification on that :)

[2016-08-31 09:30] MajorBreakfast commented on #22
I agree. GitHub is great. Originally #17 was about the team meeting. In there Christian Dallago said that we should use GitHub solely for technical stuff. If it were up to me, I'd rather track teem meeting preparations as issues. I don't like Google Groups 'cause they're slow and clunky.

[2016-08-31 09:44] MajorBreakfast commented on #22
I agree. GitHub is great. Originally #17 was about the team meeting. In there Christian Dallago said that we should use GitHub solely for technical stuff. I don't like Google Groups 'cause they're slow and clunky. Gitter is also bad because a chat is not permanent enough. Tracking organizational stuff on GitHub would feel nice. Nevertheless there is value in keeping things like meetings private...

[2016-08-31 09:51] sacdallago commented on #22
@AlexanderLill sorry about the mess up. @goldbergtatyana is totally right but I understand that the

bit may confuse at times . I'll just expand:
- GitHub --> Code/project related issues
- Google Groups --> Organizational matters, announcments, JavaScript questions, personal/team problems

[2016-08-31 13:29] AlexanderLill commented on #22
I see, thanks for the clarification :)

[2016-08-31 15:48] AlexanderLill commented on #9
Let's see if it works when we just mention them? :D
@PokemonGoers/pokemap-1 @PokemonGoers/pokemap-2

[2016-08-31 15:51] timobrembeck commented on #9
To me this distribution of functionality sounds very reasonable.
As this wasn't clarified in our task's description, we already implemented some parts of the UI (popups and sidebar - see [demo](https://pokemongoers.github.io/PokeMap-2/)), but we could also provide an API as described above.

A disadvantage for us would be that we partially worked for nothing - except you can use our UI-parts.

[2016-08-31 16:06] MajorBreakfast commented on #9
@timoludwig Nice. Plz keep us in the loop about how the API will look like

[2016-08-31 19:39] gyachdav commented on #9
@timoludwig not sure what UI you worked on for nothing. Currently all UI features I see (map rendering, zoom buttons, popups) are integral part of your app.

The project that is most likely to make use of your app, project E,  needs to think how to best integrate your app into their web app:
- Initialize the map
- Listen to events that happen in the map
- modify the state of the map as needed

I d

[2016-08-31 20:01] timobrembeck commented on #9
@gyachdav thanks for the explanation. There's also a sidebar (opens when clicking on the book-icon), but as you say we could keep that as part of our app.

@PokemonGoers/catch-em-all what do you think about filtering the map by a certain time range: do we just provide the methods or also the UI?

[2016-08-31 20:22] gyachdav commented on #9
I don't see any side bar on safari 9.1.1 and chrome. Haven't tried on ios though.
![screen shot 2016-08-31 at 11 18 13 pm](https://cloud.githubusercontent.com/assets/4074881/18144871/7d272602-6fd1-11e6-9786-5fdb9ac69473.png)

[2016-08-31 20:24] gyachdav commented on #9
found it, ignore my prev comment 😆

[2016-09-01 08:46] MajorBreakfast opened #23 "PokeData JavaScript API"
## This information is outdated and is currently due to refactoring.

Hey everyone,

this issue is about the client-side PokeData API that is shared between teams. After the discussion in this issue, the resulting API should both include what we, the app team, need and what you, the other teams, can provide. You, the other teams, have a lot to say about this. We're not going to dictate how the end

[2016-09-01 11:54] MajorBreakfast commented on #3
Progress: In our team meeting yesterday we decided to use Angular 2. @WoH will do the initial implementation of the application. @johartl has also experience with Angular 2 and will support him.

Reasons for Angluar vs Polymer were:
- We have two team members with experience instead of one
- Angular 2 uses the new upcoming JavaScript module loader which is a better solution than HTML imports
- Ang

[2016-09-01 15:49] sacdallago commented on #23
I'm pretty short on time right now but there are several things here which are mixed up. Let me produce a good answer tomorrow morning (it's very much night where I am :D ).
Don't freak out, anyone. :)

[2016-09-01 15:55] MatthiasBaur commented on #23
Would you mind switching Longitude/Latitude to Latitude/Longitude? I think it is the standard notation.

[2016-09-01 15:59] MajorBreakfast commented on #23
@MatthiasBaur I changed it. And "latitude" is even spelled correctly now :)

[2016-09-01 16:23] MajorBreakfast commented on #23
@jonas-he wrote in https://github.com/PokemonGoers/PokeData/issues/107#issuecomment-244118913:

A JS API has to exist in addition to the JSON API. Instead of making calls API calls to the JSON API from a multitude of places it is much more reasonable to make all calls from a single place, a dedicated client-side library. Furthermore having a JS API means that we get instances of classes instead of

[2016-09-01 17:02] MajorBreakfast opened #24 "PokeMap JavaScript API"
@PokemonGoers/pokemap-1
@PokemonGoers/pokemap-2

The objective of this issue is to define the API surface between the pokemon map and the rest of the app. All suggestions are welcome!

## API Draft

https://github.com/PokemonGoers/Catch-em-all/issues/23 outlines the PokeData JavaScript API. All classes outlined in that API draft are assumed to exist as specified.

class `PokeMap` extends `EventEmi

[2016-09-01 19:34] jonas-he commented on #23
@MajorBreakfast I think we'll stay server-side :smile:

[2016-09-01 19:56] MajorBreakfast commented on #23
@jonas-he I've updated the architecture to reflect that. Should be fine.

[2016-09-01 21:17] AlexanderLill commented on #23
Hi everyone,

I have a question regarding the screen where we want to show the static information about a pokemon (also called the "wiki" in a few other places).

Is all the information that we want to show in that screen already included in the `pokemon` class, or do we need to talk about additional fields that we might need here or even another source of information? (@PokemonGoers/catch-em-all

[2016-09-03 01:45] sacdallago commented on #23
Phew, where to start :D

Well, thanks for the effort @MajorBreakfast it sure is nice to see such a complete overview :) I'm sorry that this comes a bit late but yesterday I couldn't attend to GitHub for some good reason.
I'm gonna try to be extremely schematic here:
1. The Data Team, aka @PokemonGoers/pokedata will produce a REST API incorporating everything data-related.
   -  Should other teams

[2016-09-03 07:01] MajorBreakfast commented on #23
@sacdallago

About the data flow on the client:

The current approach assumes that the app team builds a filtering UI, fetches the data and gives it as `PokePOI` objects to the map. So, the map handles the user interaction, but displays only what it is told to display. It only talks to the map server for images and to no other data source. The alternative is that we, the app team, just build a fil

[2016-09-03 19:32] WoH opened #26 "Navbar"
<img src="https://cloud.githubusercontent.com/assets/2697771/18227235/bab40b5e-721d-11e6-92d8-1d5bb099eb4b.PNG">

- Search for Pokémon
- Search for a Location
- Access the menu
- Refocus the map to the current user's location

Closes #10 and #13

[2016-09-03 19:33] #10 closed

[2016-09-03 19:33] #13 closed

[2016-09-03 19:41] WoH opened #27 "(Persistent) Bottom Sheet"
- Upon clicking a Pokémon on the map, a swipeable bottom sheet should appear
 (implementation as bottom footer nav bar?)
- When swiped up, a card-like summary of the prediction should be shown
- WIP

[2016-09-03 20:52] johartl commented on #26
Looks good and has everything we need. I like it!

[2016-09-03 21:36] johartl commented on #21
I started working on the Docker topic. See branch `deployment` for further details. The current setup looks as follows.

There will be 3 docker containers
1. **app** Web app of Project E which also includes the two PokeMaps as npm requirements. Within the repository of Project E there is also a small node server which serves static assets and redirects HTTP requests to the `/api` route to the **ap

[2016-09-04 06:23] WoH opened #29 "Sidebar"
- Basic Navigation between Main, Wiki and About Page
- [Resource] (http://ionicframework.com/docs/v2/api/components/menu/Menu/)

[2016-09-04 06:26] WoH opened #30 "Floating Action Button"
- Basic FAB to Filter Pokémon
- Hidden upon clicking on a Pokémon on the map to make space for the Bottom Sheet
- [Resource] (http://ionicframework.com/docs/v2/components/#floating-action-buttons)

[2016-09-04 06:29] WoH commented on #4
Now handled by #29. I decided to add this to the stuff that can be done by anyone, the pages themselves are ready.

[2016-09-04 06:29] #4 closed

[2016-09-04 06:36] WoH opened #31 "Map View"
- Display the map (fullscreen)
- [Inspiration:](http://ionicframework.com/docs/v2/native/google-maps/) Usage should be fairly similar, with a subscription to a callback when Pokémon is clicked and a selector

[2016-09-04 09:05] sacdallago commented on #21
@johartl would you care to look if it is possible to user docker compose with [docker hub'd automatic builds](https://docs.docker.com/docker-hub/builds/) and docker cloud automatic deployment (which is just spawning the built from docker hub, so if you solve docker hub, docker cloud should be ok with it)?

SOOOOOO.. there's still no chair :D it's my servers, still. And for now it's like this: PR g

[2016-09-04 09:07] sacdallago commented on #21
Actually:

Why would you need to compose Mongo, API + website?
- Mongo we will use a dedicated server, and you won't need mongo because the API will use mongo, but the website will use the API
- API will always be up and independent of the website

So ultimately the only container you need is for the website. I suggest to drop the compose idea

[2016-09-04 09:08] sacdallago commented on #26
But please: THE FONT

[2016-09-04 09:48] WoH commented on #26
Ionic will fix that and use each platform's icons/fonts. Just wanted to get something visual in there.

[2016-09-04 09:53] johartl commented on #21
Thanks for clearing things up @sacdallago. The idea with using nginx as reverse proxy sounds reasonable!

Why compose? Why three containers?
- **Configuration.** compose handles the dependencies between the containers. You can define through which ports the three containers communicate with each other while only exposing one port to the outside world.
- **Consistency.** I feel like if we're alread

[2016-09-04 15:34] johartl opened #32 "PokeData API service"
Service that wraps requests to the PokeData API, e.g.

`Api.getPokemonById(42).subscribe(pokemon => console.log(pokemon.name))`

[2016-09-04 16:44] johartl commented on #3
I updated the Travis build file on the ionic2 branch such that the builds are now passing again. Travis executes `npm test` in both the `ionic2` and `server` directory.
Do you think it would help to have a top-level `package.json` in the root folder? This file wouldn't have any dependencies but could define scripts for starting and testing the entire package. Also if we want to publish the package

[2016-09-04 16:57] sacdallago commented on #21
I agree on all points: the composer idea is great in dev, but for the pipeline we have (already setup) it's superfluous :)

For me all I need is the dockerfile to build the webapp (so that it can automatically build on hub and depoy on cloud). But in general having a one-click solution with API, storage and webapp is definetly good for other people to try out or (as already said) dev.

I'm just tr

[2016-09-04 20:11] gyachdav commented on #20
- [ ] @MajorBreakfast  - Create doodle open to all students and mentors to vote for suggested app/website name
- [ ] @johartl - Deploy a live demo

[2016-09-04 20:43] johartl commented on #21
@sacdallago I made some good progress today in terms of deployment.
- The Ionic app will now be packaged for use as web app.
- A docker container is created containing the packaged web app and a node server that serves the app on port 8080. The PokeData backend can be reached at the `/api` route.

What else do you need me to do? How will the docker image be published to Docker Hub? Automatically o

[2016-09-04 20:56] johartl commented on #3
`gulp build` now produces a packaged app that will be copied directly to the `/server/app` directory from where it can be served by node.

[2016-09-04 22:25] johartl commented on #26
Thinking about this again I noticed one thing that doesn't seem right.
The searchbar as it is shown on the picture has a menu button on the left. However, I assume that the searchbar is only visible when showing the map and it is not shown for the about and wiki pages. This means the about and wiki pages need a different way of opening the navigation menu (probably a button on a top bar). Does thi

[2016-09-05 07:08] sacdallago commented on #21
@johartl
1. Added
2. Triggered first built https://hub.docker.com/r/pokemongoers/catch-em-all/builds/
3. What do I need to run it actually (env variables?)

[2016-09-05 07:10] sacdallago commented on #21
P.S.: Builds on merged PRs on develop and master. You are gonna have two endpoints, the master to be used as production, the develop for testing.. Like in real life :D

[2016-09-05 10:18] johartl commented on #21
Thanks for adding me!
The necessary changes are on the ionic2 branch and need to be merged to develop first (PR #33  has been opened just a few minutes ago). Sorry, I should've probably mentioned that.
The docker container exposes port 8080, hence, it can be run as follows
`docker run -p 80:8080 pokemongoers/catch-em-all` on port 80.

By default it uses the API endpoint at `pokedata.c4e3f8c7.svc.d

[2016-09-05 10:28] johartl opened #34 "Server cannot be terminated with Ctrl+C"
It sometimes happens to me that the node server won't be actually terminated when pressing Ctrl+C.
Sometimes it works right away but often the only way of terminating the server is by killing the process.
This is especially annoying because Docker won't be able to stop the container gracefully either.
I'm running the node server on Ubuntu.
Is anyone else experiencing this problem?

[2016-09-05 13:59] johartl commented on #26
I started working on this on branch `searchbar` but I could still need some help.
Another point we need to discuss is how we are going to parse the locations entered in the search bar (The user is probably not going to enter longitude and latitude coordinates directly). The obvious solution would be to use the Google Places API:
- [Place Search](https://developers.google.com/places/web-service/sea

[2016-09-06 05:56] sacdallago commented on #26
@johartl I had this problem in the past, didn't want to give my credit card and didn't like the limit on number of requests, so I found another way around this using google but without paying...

[code]

[2016-09-06 06:11] sacdallago commented on #21
@johartl nice! I fucked up the chair's servers this morning (not like, I did do anything extrorindarily dangerous... but it feels like having a ferrari with a fiat 500 engine :dash: ), so now they need to fix an implement the changes that I asked for :D hopefully we have a nice an clean solution soon, then I'll send you the links to the various things

[2016-09-06 08:00] johartl commented on #26
Awesome! I will look into that :)

[2016-09-06 11:37] #34 closed

[2016-09-06 12:00] WoH commented on #26
I think we could work around this issue by using [popovers](http://ionicframework.com/docs/v2/components/#popovers) or [modals](http://ionicframework.com/docs/v2/components/#modals) (more likely) for the about and wiki section, but I think a global toolbar that shows the search bar and the relevant icons in the main view are a good solution. That said, I am actually not sure, what do you think?.

[2016-09-06 17:02] gqinami commented on #24
Hello guys,

We, from team PokeMap1 implemented a angular directive to display a map. You can pass all the requested attributes to it, and it will respond automatically to your changes of these attributes. If you have any other suggestions for other attributes, please let us know.

Concerning the event of the clicked pokemon, you'll be able to handle it in your angular controller.

Here is the exa

[2016-09-06 21:04] AlexanderLill commented on #26
I also agree that a global bar showing the burger menue and then, if appropriate, the search bar next to it, is a good solution. Like [here](http://ionicframework.com/docs/v2/api/components/menu/Menu/) but with the search bar at the location of the "Manu" label. Is that what you meant @WoH ?

PS: How did you create the Mockup in the first post?

[2016-09-07 09:53] johartl commented on #21
@sacdallago The ionic branch with the required deployment changes has just been merged. This means we now have a [successfully built docker container](https://hub.docker.com/r/pokemongoers/catch-em-all/builds/) :)
Is there anything else you need me to do? Or are we just waiting for the server to be fixed? :D

[2016-09-07 10:43] sacdallago commented on #21
@johartl just wait :) I'll update everyone once everything is up and running

[2016-09-07 19:48] johartl commented on #24
@PokemonGoers/pokemap-1
I'm not sure how we are supposed to integrate your map into our project.
I mean, simply adding `<pokemap ...></pokemap>` to our HTML certainly won't do the trick ;)
So which steps exactly do we need to perform in order to get the map running. I saw that you're using webpack as well as gulp. So is there some kind of build process involved?

Ideally you have a `index.js` whic

[2016-09-07 22:34] johartl commented on #9
I created a skeleton of how to integrate the map(s) into our project. The interface is in accordance to #24 but some methods are still missing. Unfortunately, the app crashes when starting due to different errors in the respective PokeMap projects.
I will continue to work on this in the next few days. Until then please check out the branch `pokemap` and feel free to contribute :)

[2016-09-07 22:47] johartl commented on #24
@MajorBreakfast

Both groups are using Leaflet which comes with a definition of a zoomLevel.

Leaflet has a constructor function
`L.map( <HTMLElement|String> id, <Map options> options? )`
Hence, I would pass the HTML node directly.

I'm not sure what this function is supposed to do? How does the map display the POIs? By zooming to their location? And why does the function take an array rather than

[2016-09-08 09:30] MajorBreakfast commented on #24
@johartl About `PokeMap#displayPokePOIs(pokePOIs)`. The idea was a way to specify all PokePOIs at once where the new ones replace the old ones. A function like that is only necessary if the map doesn't talk to the PokeData JSON API. I think that's the case now, though.

@gqinami You're free to use Angular internally for testing and stuff but you should not expose it. We're using Angular 2 in our p

[2016-09-08 10:21] farisca commented on #24
PokePOI object only contains coordinates? How can we know which Pokemon to show on the map?

[2016-09-08 10:52] MajorBreakfast commented on #24
@farisca `PokePOI` is an abstract super class of `PokemonSighting`, `PekomenPrediction`, `PokeMob` o.O

[2016-09-08 10:56] farisca commented on #24
Oops, I totally missed that. Sorry, my fault.

[2016-09-08 11:22] MajorBreakfast commented on #20
@gyachdav Doodle is no problem, but I think we need more suggestions!

@PokemonGoers/PokeData
@PokemonGoers/pokemap-1
@PokemonGoers/pokemap-2
@PokemonGoers/hashpokemongo
@PokemonGoers/predictpokemon-1
@PokemonGoers/predictpokemon-2
Please suggest domain names. (Check for availability first!)

[2016-09-08 11:33] oleks-fedotov commented on #24
@MajorBreakfast will it be ok for you to have an angular 2 component with a map incapsulated? Otherwise you'll need to write your own component to wrap the map-module or write the part of the project in VanillaJS using map-module

[2016-09-08 11:40] WoH commented on #3
#33

[2016-09-08 11:40] #3 closed

[2016-09-08 11:42] MajorBreakfast commented on #24
@WoH @johartl Can you comment? I've still no good picture about where the map functionality ends and our app UI starts...

[2016-09-08 11:43] WoH commented on #26
@AlexanderLill I used Axure and a Android Library for the UI Elements.
Yes, that's what I meant. I am not sure if this is sexy though.

[2016-09-08 11:57] WoH commented on #24
Just like @ukrainian256  proposed, by importing a Component in our main page and displaying it in the template of our main page.

Just like that :smile:

[2016-09-08 12:22] bensLine commented on #20
- pokepoint.info, .io
- pokedexmap.org, .info, .io
- pokeinfo.org, .io
- pokecompanion.com, .org, .info, .io
- pokemaster.com, .info
- pokegoers.info, .org, .io

[2016-09-08 12:23] farisca commented on #24
PokeMap-2 is using the approach described by @johartl without any angular components.

[2016-09-08 13:14] MajorBreakfast commented on #20
Again: Check availability. It's important!

@bensLine pokemaster.com is not available. I haven't checked the others.

[2016-09-08 16:44] WoH commented on #30
I had to implement a very basic FAB to trigger the Filter Popover, check the FilterPopever branch if you wanna take it from there, this is very much a WIP.

[2016-09-08 20:24] gyachdav opened #41 "Running the demo fails"
Running without Docker. Please advise.

Log:
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@3.7.3
3 info using node@v5.8.0
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle Catch-em-all@0.0.0~prestart: Catch-em-all@0.0.0
6 silly lifecycle Catch-em-all@0.0.0~prestart: no script for prestart, contin

[2016-09-08 21:10] WoH commented on #41
@gyachdav
Build worked fine using 6.5.0 just now, installed 5.8.0, tried again, failed.
Could you try to rerun using a later version if you are using a node version manager?
I already have issues using ES6 syntax with 5.8.0

E: Also, maybe try deleting the node_modules folder and run npm install again.

[2016-09-08 22:13] bensLine commented on #20
@MajorBreakfast i checked them on godaddy.com, they are available for sale. prices vary. this one is quite expensive, though.

[2016-09-08 22:26] philbu commented on #8
The team of project C is working with team A (data mining team) and team D (map team). We're only communicating with/through the map team for visualization.

[2016-09-08 22:26] #8 closed

[2016-09-08 23:52] sacdallago commented on #41
I think it's not node related, guy doesn't have the env variables set.

You need and env file @gyachdav, I'll forward the mail where I got that, and please see the "API packaging" thread here to see how to spawn the instance using the env file, then let us know

[2016-09-09 00:13] sacdallago commented on #21
The chairs VM is giving me a hard, hard time.

So in the meantime, Christian's servers it is:

http://catch-em-all-0a600d65.c65978f4.svc.dockerapp.io:4898/

For now only develop, as latest/master doesn't exist as a tag anyway :)

[2016-09-09 00:16] sacdallago commented on #26
@WoH you sure like the word sexy :'D

[2016-09-09 06:58] gyachdav commented on #20
we poor 😆  so domains that are only available for sale are irrelevant.

Anyways we're not a commercial entity so no need to check .com domains.

[2016-09-09 07:41] jonas-he commented on #20
There is the possibility to go for a free alternative... however this comes with the cost of a little postfix. http://freedns.afraid.org
There you can set up free subdomains for any of the domains listed (e.g. *.ftp.sh)

[2016-09-09 11:37] farisca commented on #24
Also, is the time slider your task or ours?

We already implemented it:

<img width="598" alt="screen shot 2016-09-09 at 13 31 16" src="https://cloud.githubusercontent.com/assets/6860946/18385705/8c4d3d5c-7692-11e6-8419-17d6210da56f.png">

However, in this case we would need to have an event emitted after the user moves the slider (after which you call the method displayPokePOIs with the new pokeP

[2016-09-09 12:54] WoH commented on #24
I think this should ideally be part of the Ionic2 App, we were planning on a Floating Action Button that opens Popover. So we would take care of that.

[2016-09-09 13:22] WoH opened #42 "Time Filter Popover"
A Popover to the Main(aka Map)-View.
Shows a simple Popover with a Slider for the days.
After a small debounce, the data is synced with a new Filter Object that is introduced in the Main Component.
Please let me know what you think.

For the lazy ones:
![2c578af559728c0a36945e0f9dbb6d7b](https://cloud.githubusercontent.com/assets/2697771/18387955/d338d11a-769f-11e6-8717-f1eeba35fb63.gif)

If you w

[2016-09-09 13:30] WoH commented on #42
(without snaps)

![](https://i.gyazo.com/110621da6f0ac3319085370bd59e57de.gif)

[2016-09-09 15:32] johartl commented on #24
I think this approach is bad for a couple of reasons
- This will only work if we both use angular and only if the two angular versions are compatible. The PokeMap team is using Angular 1 whereas we are using Angular 2. I doubt that importing the A1 component into an A2 project will just work out of the box.
- The PokeMap2 team also managed to export their module properly. And we don't want to supp

[2016-09-09 15:34] johartl commented on #31
Not sure what the differences compared to #9 are?

[2016-09-09 16:03] WoH commented on #31
Nothing 😄

[2016-09-09 16:03] #31 closed

[2016-09-09 17:48] johartl commented on #24
@farisca

This was the plan initially but we deviated from that. As you will be talking to the PokeData api directly I would propose that you will receive the information about the time range from us. So we add a `timeRange` object which is also being passed into the PokeMap constructor.

[code]

And then I would add another method which we will use to update the time range.

`updateTimeRange(from

[2016-09-09 18:19] WoH commented on #24
@johartl
- time range should honestly be a bit less fine-tuned.
- zoomLevel should probably be none of our business
- we need to pass a callback to handle the User clicking on a Pokemon

[2016-09-09 18:30] johartl commented on #24
@WoH

Sure. So minutes it is?

Also okay. I suppose the two PokeMap teams have already implemented some kind of zooming mechanism anyway. So we should consider the zooming entirely as part of their project.

The idea by @MajorBreakfast was to use an event emitter for this.

`pokeMap.emit('click', pokePOI)` to trigger the event and
`pokeMap.on('click', pokePOI => console.log('clicked on', pokePOI.n

[2016-09-09 19:53] WoH commented on #24
@johartl
My bad, didn't read carefully enough.
Probably Minutes, but I won't say anything until I see the results of the Predictions Team.

[2016-09-09 21:40] farisca commented on #24
I want to be sure one more time: we (pokemap) are contacting PokeData API? Then why should we emit "move" event? If the map is moved, then **we** should fetch data for the new area?
Also, the methods defined in the first comment don't make sense anymore? For example, why would you need a public method `displayPokePOIs(pokePOIs)` if we fetch the data now?

I'm sorry if these questions have already

[2016-09-10 06:55] sacdallago commented on #42
@WoH this looks fancy AF

[2016-09-10 10:08] johartl commented on #24
@farisca
1. Yes you are right. You will be contacting the PokeData API directly.
2. If the map is moved you will need to fetch the new data on your own and display new Pokemon accordingly. But it can still make sense to notify the CatchEmAll project about the changes. One scenario that I can think if would be that we update the URL every time the map changes. This way you can share links to your f

[2016-09-10 10:45] johartl commented on #24
I updated the draft in the first post. A summary of the changes I made:
- removed `displayPokePOI` method
- added `updateTimeRange` method
- renamed to `clickedPokePOI` event to `click`
- added `apiEndpoint` to the constructor. This parameter will be passed into the docker container and thus we should all use the same endpoint.
- added `timeRange` to the constructor.
- removed `zoomLevel` from the

[2016-09-10 11:51] #32 closed

[2016-09-10 18:12] johartl commented on #26
I included the search bar into the navbar. My idea was to let the user query for both Pokemon and locations and show the results combined a list. I submitted a feature request for partial search at https://github.com/PokemonGoers/PokeData/issues/136 .

@sacdallago The location query hack seems to work fine :)

![screenshot from 2016-09-10 20-06-25](https://cloud.githubusercontent.com/assets/125284

[2016-09-10 18:19] WoH commented on #26
Maybe just show a Search Symbol on the right side by default and fade the searchbar in, spanning over the whole Navbar (except Menu button), when clicked?

Edit: I actually think the current version works aswell, but the shadows are really confusing me.

[2016-09-10 18:36] gyachdav commented on #41
resolved.

[2016-09-10 18:36] #41 closed

[2016-09-10 18:54] gyachdav opened #48 "Alpha"
Hey there project E,

Your demo seems to run nicely but currently there is not much to see 😆

![image](https://cloud.githubusercontent.com/assets/4074881/18412746/3c98627e-779f-11e6-8382-6c0e6572df18.png)

Please take some time to merge your branches into develop so we (mentors) and other projects can see your progress and start giving you feedback.

[2016-09-10 19:25] johartl commented on #48
Hi guy,
I thought I'll give you a quick overview over our current work progress.

### Deployment

The continous integration/deployment is fully set up. Once changes are pushed to develop or master a Docker container is automatically built and set up at http://catch-em-all-0a600d65.c65978f4.svc.dockerapp.io:4898/. Test cases are executed automatically as well. For more details see #21 and #20.

###

[2016-09-10 19:35] gyachdav commented on #20
We will have some money to buy a domain but definitely not more than tens of euros. Stay lean 😄

[2016-09-10 20:57] johartl commented on #26
![untitled](https://cloud.githubusercontent.com/assets/12528430/18413495/b3dc2f0a-77a9-11e6-8ae6-1cf1705370ed.png)
Maybe like this? :D
I implemented the sliding behavior btw.

[2016-09-10 21:03] WoH commented on #26
I already switched branch as soon as I saw you pushed it.
@sacdallago please suggest a different word because I'd refer to this as extremely sexy.

Edit:
![https://i.gyazo.com/7d9945ea8ab9fd1355daa4e8325157be.gif](https://i.gyazo.com/7d9945ea8ab9fd1355daa4e8325157be.gif)

[2016-09-10 22:58] johartl opened #49 "Logo / Favicon / Launcher icon"
We will need a logo that can be used both as favicon and launcher icon when installing the app on Android or iOS. Do we have someone who's really talented with Photoshop/Gimp/Paint?

[2016-09-10 23:03] WoH commented on #49
I mean, I have some nasty Paint tricks up my sleeve. I saw some Pokémon themed favicons, but if we could get our own that'd be better.

[2016-09-10 23:10] johartl commented on #21
Since we have a running app I will close this now.
For all topics related to hosting (e.g. domain and SSL certificate) please see #20.

[2016-09-10 23:10] #21 closed

[2016-09-11 00:48] johartl commented on #27
Anyone interested? Maybe one of @mfkaptan @Georrgi @Lugitan?

[2016-09-11 00:52] philbu commented on #29
#40

[2016-09-11 00:52] #29 closed

[2016-09-11 01:19] philbu opened #51 "About page"
## Legal information
@gyachdav We might need help here. Inspired by our predecessors (got.show) I created the main concept of our about page. They got an attribution page as well and I guess we'll need this for ours too.
By German law it is prohibited to have a website without an "Impressum" (that's a legally required statement of the ownership and authorship of a website). I'm not sure how other

[2016-09-11 02:05] sacdallago commented on #51
@philbu nice job, I'm gonna go through the legal text in detail later, but just a note on the teams:
- We will also add a few people that helped us from being the curtains (Dr. Lothar Richter, Timothy Karl, Prof. Burkhard Rost )
- @gyachdav what's the verdict on _that_ logo?
- The ordering of the names in the first section should be: Guy, Tatyana, me, Juanmi :)
- Potentially also students should b

[2016-09-11 02:10] sacdallago commented on #49
Try to go CC0 and some minor PS, that's the easiest way :)
Pokedex themed?

[2016-09-11 07:35] gyachdav commented on #48
Thanks for the prompt and detailed overview @johartl. Glad to see that you guys are following a plan that would keep you on track!

Im also glad to hear about the hackathon next week. Please let me know which day/s will it take place so we can move the Alpha release milestone due date accordingly.

I see the problem. Have you tried inviting pokemap-1 to your hackathon? Porbaly will be the most eff

[2016-09-11 07:42] gyachdav commented on #51
@sacdallago where can I see the logo?

[2016-09-11 07:54] gyachdav commented on #51
@philbu very nice first try for the about page. Please start correcting for some typos and text formatting.
- [x] As for the imprint please use the exact same one used at https://www.got.show/imprint.
- [ ] Make available a section for the privacy policy for now you can model it after https://www.got.show/privacy. I will start a separate issue in which we will collect info before generating a fina

[2016-09-11 11:44] johartl commented on #48
@gyachdav
Yes, the active discussion part only referred to the PokeMap-2 team around @farisca who helped to refine the interface description and get rid of unnecessary parts :+1: Sorry if that was unclear.
The only two reactions by the PokeMap-1 team in that issue were focused around the Angular 1 directive and 3 or 5 days old. I'm also following the activity in their repository and there hasn't b

[2016-09-11 12:06] farisca commented on #24
Thanks for the updated version of the interface description! Should we also define a method `showPokeMobs()` which should trigger the display of mobs?

Also, regarding the `timeRange` parameter: if it has values `{2, 5}` then we show the predictions between these two points in the future. But what about the sightings. Should we show all of the sightings all the time, or the `timeRange` fields can

[2016-09-11 12:13] gyachdav opened #53 "Privacy policy"
I need someone from project E to go with me through a series of questions so we can generate a mobile app privacy policy. This will be taken care of during presentation week.

[2016-09-11 12:20] gqinami commented on #48
hey @johartl,

We from PokeMap-1 are re-writing our part of the app from scratch in plain JS since the Angular 1 directive provided by us in the beginning was not able to be integrated in the big app. We are writing it as per the specifications in this issue (https://github.com/PokemonGoers/Catch-em-all/issues/24).
Regarding the activity, maybe you are watching only the develop branch activity :)

[2016-09-11 12:30] johartl commented on #24
I'm not sure what you mean exactly. Does this method enable and disable the display of PokeMobs? Personally, I would just show them at all times because they probably don't happen too often. If the PokeMobs turn out to distract the user a lot we can still think about a filter option later.

The time slider we have in our app right now only lets you select positive values but we can certainly chang

[2016-09-11 12:53] johartl commented on #48
@gqinami Yes Perfect!! :)
And yes I was in fact looking at your development branch but also at issues and PRs from your repository. Plus I rarely saw any input or sign of acknowledgement in #24 or https://github.com/PokemonGoers/PokeMap-1/issues/10 which made me question your activity. But I just checked again and found the other branches so sorry for the false accusations!
But if you could keep u

[2016-09-11 13:00] WoH commented on #53
@Lugitan  @philbu  @Georrgi  @johartl  @AlexanderLill  @MajorBreakfast  @mfkaptan

[2016-09-11 13:44] WoH commented on #42
Closed for now, will come up when we make things pretty

[2016-09-11 13:44] #42 closed

[2016-09-11 20:38] johartl commented on #26
Little change of plans. When trying to figure out how I could show the search results I realized that using a popover result list might not be the best idea. First, it's not that easy to implement properly if you have to take care of mobile devices and second, it will probably not look very nice on all platforms.
So I decided to go with the standard way of doing things. The search button opens a d

[2016-09-11 21:33] WoH commented on #26
Have you ruled out [modals](http://ionicframework.com/docs/v2/api/components/modal/ModalController/) for some specific reason?
Otherwise that could possible be a good approach I think.

[2016-09-11 23:14] WoH commented on #26
@johartl
I took over where you left at and tried to see what a modal could do for us, you can have a look at:
[Catch-em-all/tree/navbar-modal](https://github.com/PokemonGoers/Catch-em-all/tree/navbar-modal)

I haven't figured out the best way to style this, but if you move the searchbar down a bit, make the background transparent and style the results I think this has potential.
If you revert the

[2016-09-11 23:42] johartl commented on #26
I like your idea. For the website I agree that a modal looks a lot better.
But I'm not sure how we can handle the different styles for iOS and Android. Every time you do something customized that also means that we have to check that it looks good on all platforms and devices and put some effort into tweaking it.
I only ever looked at the app in the browser so I don't know if the differences are r

[2016-09-11 23:50] WoH commented on #26
On small screens they look like new pages (as in they fill the entire screen). I want to expand on the idea though I have some ideas what else we can do with the search but that'll leak into other issues aswell.

[2016-09-11 23:57] johartl commented on #12
@AlexanderLill Are you working on this? Any updates?

[2016-09-12 00:02] johartl commented on #26
Should we leave the search like this for now? There are still lots of other issues we need to take care where we need your creativity @WoH ;) I would keep your branch and if we have time towards the end of the project we can give this a restyling.

[2016-09-12 00:09] WoH commented on #26
Let's talk about this on Tuesday, for now I agree. Great job working on this so far by the way! :+1:

[2016-09-12 07:10] WoH opened #56 "Use cordova builds to serve Application"
Right now we directly push to server/app.
In the future, but especially in respect to android and iOS apps, we should default back to www/build and make use of cordova's platform specific builds (iOS, Android, Browser). This should also get rid of the cordova missing warning.

Change output folder to www/build (required so cordova detects builds) and run
`cordova add platform browser`
`cordova bui

[2016-09-12 07:29] gyachdav commented on #53
https://github.com/PokemonGoers/Catch-em-all/issues/51

[2016-09-12 08:06] WoH commented on #26
I definitely did not work on this, but it does actually look exactly like your page now on small screens.. I just don't know where to push additional commits to. I need that next meeting in my life.

[2016-09-12 08:13] WoH commented on #53
I got #53 / #51 on my list for tomorrow, give us a day to sort out who's working on what next.
Right now work is distributed slightly unequally and this should be something we can use to help others catch up. (Including: [HashPokemonGo#11](https://github.com/PokemonGoers/HashPokemonGo/issues/11))

[2016-09-12 10:37] philbu commented on #51
#54 Updated the about page and created the imprint page. Typos aren't fixed yet.

[2016-09-12 11:47] WoH commented on #26
Should we close this and reopen since the navbar itself is pretty much done and the remaining questions should be answered in a designated issue?

[2016-09-12 18:20] johartl commented on #26
Yes I agree. I will open a PR for this in a few minutes.

[2016-09-12 18:48] johartl commented on #56
What exactly is the issue with having a different output directory? Is there anything in particular you can't do?

What I like about the setup right now is that you just need to run `gulp build --release` and your server directory contains everything required to ship the app (whereas the ionic2 folder can be discarded). With the default Ionic setup you also have to prefix all files with `/build` w

[2016-09-12 20:03] WoH commented on #56
you need /www/build structure for cordova to work which is necessary to build android or iOS apps. Also, if we use cordova to build for browser, we will get rid of the current warnings (cordova is missing).
I can explain the thought process tomorrow.

[2016-09-12 20:59] #26 closed

[2016-09-12 21:03] johartl commented on #48
@gyachdav What exactly is your understanding of an Alpha release? Which features do you want to see implemented?

[2016-09-12 21:45] AlexanderLill commented on #12
@johartl I am, I opened a branch and started working on it, need to figure out how the pokedex page should look like though. Currently I have a list of pokemon to choose from, and then I will show a page for the selected pokemon. I am also still waiting for the @PokemonGoers/pokedata team if and which additional info they will provide for the pokemon, except the data already available on their API

[2016-09-12 21:46] AlexanderLill commented on #5
@PokemonGoers/catch-em-all isn't this done already? :)

[2016-09-12 22:06] jonas-he commented on #12
@AlexanderLill Sorry but i somehow didnt notice your post over at #23 .
Honestly I think that our data covers the majority of aspects (Number, Name, Classification, Types, Reistant, Weaknesses, Attacks, Weight, Height, FleeRate, Next/Prev Evoultion, MaxCP/HP, gender), but if you have suggestions you can open up an issue in our repo and we can discuss.

[2016-09-13 03:39] sacdallago commented on #5
I suggest to open up new issues, should new UI discussions arise

[2016-09-13 03:39] #5 closed

[2016-09-13 11:06] mfkaptan commented on #49
![image](https://cloud.githubusercontent.com/assets/3976573/18471533/13700f00-79bb-11e6-9d2e-49765dcfd3f6.png)

Not my work but it is free if we credit the author. Source: http://www.flaticon.com/free-icon/map_188983#term=pokemon&page=1&position=39

[2016-09-13 11:34] mfkaptan commented on #49
![image](https://cloud.githubusercontent.com/assets/3976573/18471920/c1946170-79bc-11e6-855c-ad65122aa48f.png)

or

![image](https://cloud.githubusercontent.com/assets/3976573/18607944/1a9c023a-7ce4-11e6-9cbc-751510c6090b.png)

For emphasizing "prediction"

[2016-09-13 12:04] mfkaptan commented on #20
- pokeoracle
- predictemall
- pokedict
- pokegopoint

[2016-09-13 12:43] gyachdav commented on #48
Alpha - An MVP we can all take a look at and appreciate what the main components are.

The most important features would be:
- [x] Integration of at least one map component with main controls that interact with the component
- [x] Populating the wiki data
- [ ] Navigation
- [ ] Compatible across all devices

[2016-09-13 16:24] AlexanderLill commented on #53
For reference see https://www.got.show/privacy

[2016-09-13 23:49] AlexanderLill commented on #12
![img_20160913_234849](https://cloud.githubusercontent.com/assets/11082297/18495291/120c9446-7a1d-11e6-8a81-e1710b8e8c0d.jpg)
- [x] Implement PokeType (Pokemon attributes)
- [x] Implement PokeStats (Top area incl. description)
- [x] Implement Evolution (Evolution of pokemon)
- [x] Implement Attack (Attacks of pokemon)

[2016-09-14 11:54] farisca commented on #24
Regarding PokeMobs, your comment totally makes sense.
Regarding time slider: let's follow the issue you referenced.

Btw, regarding PokePOI, PokemonSighting etc classes: should we create them or you already have them somewhere (in this case, how should we import them?)

[2016-09-14 12:15] johartl commented on #24
The PokePOI, PokemonSIghting and other classes from #23 are very outdated. Please don't pay too much attention to them for now.
Ideally these objects are simply the JSON you receive from the PokeData API. So you should be able to pass these objects to us directly and there is no need to create classes.
I'm currently collecting information from each project how a PokeSighting, PokeMob and PokePredi

[2016-09-14 13:09] johartl commented on #24
@PokemonGoers/pokemap-1
@PokemonGoers/pokemap-2
I updated the PokeMap interface. You now also find a changelog that summarizes the changes.

[2016-09-16 11:29] AlexanderLill opened #62 "Find a domain name"
Let's find an awesome domain name for our project (continuing the discussion from #20)

A few notes first:
- Please check the availability before you suggest a name
- The chair does not have a lot of money to buy it (keep it max. in "tens of euros")
- @sacdallago mentioned that the name should not contain TUM

The following list contains all suggestions; the checked crossed items are not options a

[2016-09-16 11:29] AlexanderLill commented on #20
See #62 for finding a domain name.

[2016-09-16 12:06] #20 closed

[2016-09-17 10:35] mfkaptan commented on #62
I'm not sure if those extensions are possible.

[2016-09-17 11:05] johartl commented on #24
@PokemonGoers/pokemap-1
@PokemonGoers/pokemap-2
Please check the updated PokeMap interface.

[2016-09-17 11:16] mfkaptan commented on #62
I have updated the suggestion list with availability.
- **Bold** extensions are available under **$10-$15** per year.
- .io extensions are mostly available more than $30 per year.
- Other extensions such as .top, .co, .eu, .tech and .rocks :guitar: are available for most suggestions under $10 per year.

[2016-09-17 11:25] mfkaptan commented on #49
![image](https://cloud.githubusercontent.com/assets/3976573/18607879/8e6031de-7ce2-11e6-9992-3561e11a83fe.png)

[2016-09-17 11:45] mfkaptan commented on #49
Here is another one with my **amazing** skills, just think about the idea (trying to emphasize prediction again)

![image](https://cloud.githubusercontent.com/assets/3976573/18608001/a2aab602-7ce5-11e6-99ca-58d5cd02ddb6.png)

[2016-09-17 12:55] sacdallago commented on #49
I likey likey n2 of https://github.com/PokemonGoers/Catch-em-all/issues/49#issuecomment-246653595 and https://github.com/PokemonGoers/Catch-em-all/issues/49#issuecomment-247765006

But rather the one with the magic sphere. You can put this up to vote one Monday at the lecture joint with the domain name

[2016-09-17 14:30] gyachdav commented on #48
Please give a status update. hiw did the hackarhin go? How far are we from the MVP?

[2016-09-17 14:50] WoH commented on #48
(1/5)
![pokedex](https://cloud.githubusercontent.com/assets/2697771/18608920/3b71fb56-7cf6-11e6-80c6-4bc71603271e.jpg)

Wiki Index Page by Me - Done and Merged
- [x] Add Page
- [x] Dynamic Search Bar
- [x] Felixble Boxes

Detail Page by @AlexanderLill and @philbu - WIP and should be ready by Monday
- [ ] Page and basic details
- [ ] Module that visualizes Evolitions in a Component
- [ ] Attack Com

[2016-09-17 14:54] WoH commented on #48
(2/5)

![https://files.gitter.im/rostlabjs16projecte/Lobby/4qzb/20160913_121145.jpg](https://files.gitter.im/rostlabjs16projecte/Lobby/4qzb/20160913_121145.jpg)

Bottom Sheet by @johartl
- [ ] Component
- [ ] Shows infos about TLN in case of a Prediction
- [ ] Shows most important info about Pokemon

[2016-09-17 14:58] WoH commented on #48
(3/5)

![https://files.gitter.im/rostlabjs16projecte/Lobby/1PiN/IMG_0642.JPG](https://files.gitter.im/rostlabjs16projecte/Lobby/1PiN/IMG_0642.JPG)

Redesigned Filter Popover, mostly @MajorBreakfast
- [x] Tabs for Time and Pokemon filtering (in PR)
- [ ] Time: Customized Slider for Sightings
- [ ] Time: Customized Slider for Predictions
- [ ] Pokemon: Radio Buttons for type (selected, deselected, p

[2016-09-17 15:03] johartl commented on #48
As for the PokeMap integration, I created two issues https://github.com/PokemonGoers/PokeMap-1/issues/15 and https://github.com/PokemonGoers/PokeMap-2/issues/35 to track what each team still needs to do to get the map running.
From our side we're ready to integrate the map(s) once all issues have been resolved.

[2016-09-17 15:04] WoH commented on #48
^ (4/5)

[2016-09-17 15:06] WoH commented on #48
(5/5)
- @mfkaptan works on a favicon https://github.com/PokemonGoers/Catch-em-all/issues/49 here
- The domain war is still going on and as you suggested we will vote on Monday https://github.com/PokemonGoers/Catch-em-all/issues/62

[2016-09-17 18:30] AlexanderLill commented on #23
Added field "description" to pokemon according to https://github.com/PokemonGoers/PokeData/issues/142

Will update this in a feature branch in a sec

[2016-09-18 01:34] johartl commented on #48
#64 adds automated Android builds.

[2016-09-18 10:28] #56 closed

[2016-09-18 16:44] johartl commented on #48
#65 integrates the first PokeMap.

[2016-09-18 21:46] AlexanderLill commented on #12
See #66 for the pull request that includes pokemon description, evolution and attack for now.
The description is already available in the API, although @PokemonGoers/pokedata did not merge the pull request yet :) Thanks @jonas-he @fabe85

[2016-09-19 01:44] sacdallago commented on #48
@johartl can you invite me @gyachdav @goldbergtatyana and @juanmirocks to the hockeyapp distribution?

Through the emails from the emails you got from us will be good ;)

[2016-09-19 08:02] johartl commented on #48
@sacdallago I invited both @gyachdav and @goldbergtatyana but I couldn't find yours and @juanmirocks's email address.

[2016-09-19 12:24] AlexanderLill opened #68 "Implement Tweet-View"
Should be shown at the bottom of the pokedex-detail-page.

This could be just the tweets from the API, or some other visualization of the twitter data - be creative!

- [ ]  Create a mockup and get feedback from other team members
- [ ] Implement a first version of this (either with mocked data, or using the API from @PokemonGoers/pokemap-1 @PokemonGoers/pokemap-2

[2016-09-19 12:34] mfkaptan commented on #68
Example tweet data:

[code]

[2016-09-19 12:39] mfkaptan opened #69 "Improve pokedex index page"
Right now we only show pokemon pictures and names in the index page. Clicking a pokemon gets us to the detail page. We can improve the list in the index page, add some stats to each pokemon's card.

[2016-09-19 13:29] WoH commented on #69
Also, we should probably go for 2 columns on mobile and 4 on desktop instead of 1 and 3, this is also part of gridlex and should not require too much additional styling if you can also take care of that.

[2016-09-20 12:07] johartl commented on #49
According to the [poll](http://www.easypolls.net/poll.html?p=57def23ee4b08db0f7e380a6) we have a winner.

![](https://cloud.githubusercontent.com/assets/3976573/18608001/a2aab602-7ce5-11e6-99ca-58d5cd02ddb6.png)

@mfkaptan Can you export this as favicon. A higher resolution would also be appreciated.

Edit: We need at least two versions:
- **Icon** 192x192 (square) for xxxhdpi.
- **Splash screen**

[2016-09-20 16:00] johartl commented on #7
I will close this now because the integration will happen through the PokeData team.

[2016-09-20 16:00] #7 closed

[2016-09-20 19:34] johartl commented on #62
Final result of the domain poll

![poll](https://cloud.githubusercontent.com/assets/12528430/18685716/7eb63de8-7f79-11e6-9285-8d58f5d39ccb.png)
- **pokeoracle.de** (5 EUR/yr)
- **pokeoracle.net** (11.68 EUR/yr)

How should we proceed? @gyachdav are you gonna take care of the next steps?

[2016-09-20 19:38] johartl commented on #51
What's the state here @philbu?

[2016-09-21 11:59] MajorBreakfast commented on #62
Because it was mentioned in today's seminar session: Everyone just selected the domain names they like, we didn't rank them. Should we do a second round with just the best 3 domain name candidates? Just an idea, tell me what you think.

[2016-09-21 12:00] MajorBreakfast commented on #49
👍

[2016-09-21 12:04] phdowling commented on #62
Sounds like a good idea to me. Three candidates, one choice per vote only?

On Wed, Sep 21, 2016 at 1:59 PM, Josef Brandl notifications@github.com
wrote:

[2016-09-21 12:17] MajorBreakfast commented on #69
@WoH Let's have a column width and we show as many columns as we are able to fit on the screen.

About the additional info: Maybe add the Pokemon number. Anything more makes it just cluttered IMO.

[2016-09-21 12:30] MajorBreakfast commented on #12
We've merged it into the develop branch.

[2016-09-21 12:30] #12 closed

[2016-09-21 12:32] MajorBreakfast commented on #23
This has been implemented differently now. We, the app team, use an angular service. The map teams have their own implementations for talking to the JSON API.

[2016-09-21 12:32] #23 closed

[2016-09-21 12:36] MajorBreakfast commented on #53
Note: The Game of Thrones site seems to be currently offline.

Edit: Not anymore

[2016-09-21 12:50] MajorBreakfast opened #74 "Filter: Pokemon Tab"
![filtermock](https://cloud.githubusercontent.com/assets/340142/18711527/aeb1c5d0-800a-11e6-84c9-4ad71749b610.jpg)

- [x] Stage 1
  - List with Pokemon that are selectable
- [x] Stage 2
  - Filter function for the Pokemon list
- [ ] Stage 3
  - Combo selection buttons for All/None and types

Here's how it's going to work:
- At the bottom there is a of all 150 Pokemon. A Pokemon can either be selec

[2016-09-21 13:11] johartl commented on #74
In develop there already is a <filter-popover-tab-pokemon> component. So how should this be named?

[2016-09-21 14:19] AlexanderLill commented on #74
@johartl You mean the file "poke-filter-pokemon-tab.component.ts"? I think that @MajorBreakfast added this as an empty template for me to use :)

[2016-09-21 14:45] johartl commented on #74
Yes there are two empty components
- `filter-popover-tab-pokemon.ts`
- `poke-filter-pokemon-tab.component.ts`

That's why I was confused :D

[2016-09-21 15:21] AlexanderLill commented on #74
Okay now I am confused, too :D
@MajorBreakfast @WoH @johartl

Which one should we continue using?

[2016-09-21 17:34] MajorBreakfast commented on #74
I'd like to namespace all components with 'poke-' in the long run. It leads to slightly longer names, however it makes sense because components aren't organized into namespaces any other way. It'd be probably better to delete both and start by modifying a copy of the time tab.

[2016-09-21 17:50] WoH commented on #74
Isn't FilterPopover already way too long. Honestly, seeing that poke prefix hurts my eyes

[2016-09-21 17:57] WoH commented on #74
Also, if you feel the urge to get creative, at least fix the selectors in your new and hip components and use them consistently,.
If I see someone merge something like that to develop again may god bless your poor soul.

[2016-09-21 20:45] WoH opened #77 "Use https to serve application"
A [secure context](https://w3c.github.io/webappsec-secure-contexts/) such as [HTTPS](https://developers.google.com/web/fundamentals/security/encrypt-in-transit/?hl=en) will be [required](https://developers.google.com/web/updates/2016/04/geolocation-on-secure-contexts-only) to access use the [Geolocation API](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation#Browser_com

[2016-09-21 22:24] johartl commented on #77
I suppose we can use a certificate from [Let's encrypt](https://letsencrypt.org/).

[2016-09-22 10:47] johartl opened #78 "Touch Zooming and Dragging Behavior"
There seems to be some weird behavior in terms of zooming and dragging when running the app on Android.
To reproduce the bug you need to continuously zoom in and out and move the map. You'll eventually find yourself at a completely different place (for instance in the middle of the ocean or close to new zealand). It may be hard to explain but this bug seems to occur consistently for the native and

[2016-09-22 10:55] AlexanderLill commented on #78
Happens on Android even in the normal browser...

So I guess it is an issue with the map / position parameters or something.

(@johartl)

On Sep 22, 2016 12:47, "Jochen Hartl" notifications@github.com wrote:

[2016-09-22 11:02] johartl commented on #78
Then we should test the app on other touch devices (Android tablets and Microsoft Surface) to isolate the error.

[2016-09-22 12:24] johartl commented on #78
@PokemonGoers/pokemap-1
@PokemonGoers/pokemap-2

[2016-09-22 12:47] AlexanderLill opened #79 "Implement Notification for PokeMobs"
See if Ionic2 supports
- Notifications (on Android and iOS)
- Running in the background (e.g. Android Service)

For these notifications a WebSocket connection will be built which is also active if the app is not currently in the foreground / used by the user.

There should also be an option to disable this feature if it consumes too much energy on the long run, and an option for the distance-radiu

[2016-09-22 13:18] johartl commented on #68
As we have decide today we would like to show the actual tweets. Please note that the component for showing tweets will also be reused in the mob-card.

[2016-09-22 13:24] MajorBreakfast commented on #78
I renamed the issue. Chrome on Windows is also affected if you use touch.

[2016-09-22 13:59] johartl opened #80 "Mob card"
Similar to the POI card where we display a Pokemon which was clicked on we need the same for a mob. Once the user clicks on a mob a bottom sheet should slide up which shows the following information.

- The tweets which caused this mob (also see #68)
- Navigate to mob button
- Optional: Show/Name the Pokemon that was named in each tweet

[2016-09-22 14:03] MajorBreakfast commented on #78
New insights through some playing around:
- Only when zooming (two fingers), not when just dragging
- Pokemon layer seems to move correctly, only tiles shift
- Correct zoom behavior during zooming. Tile jump happens after I lift my fingers from the screen

[2016-09-22 14:20] MajorBreakfast commented on #78
I get the same bug in Microsoft Edge.
I cannot zoom with two fingers in Firefox (Changes page zoom level instead).

[2016-09-22 14:45] MajorBreakfast commented on #78
@PokemonGoers/pokemap-1
@PokemonGoers/pokemap-2
We need a way to disable any refreshes of the displayed pokemon, so that we can differentiate between movements caused by bugs (e.g. in our css or whatever) and movements caused the update of the displayed pokemon.

[2016-09-22 21:20] WoH commented on #79
https://ionicframework.com/docs/v2/native/local-notifications/
https://github.com/katzer/cordova-plugin-local-notifications

[2016-09-23 09:32] johartl commented on #23
Final draft

![Architecture](https://cloud.githubusercontent.com/assets/12528430/18781253/4cf0c184-8181-11e6-8a16-9a0313f5a119.png)

[architecture.pdf](https://github.com/PokemonGoers/Catch-em-all/files/491163/architecture.pdf)

[2016-09-23 13:20] WoH opened #82 "Popover styling"
Hey guys, does anyone want to take over and do the popover styling?
I experimented briefly and I think the popover should be -500px 300px width on android and I'll check iOS later but definitely different. You can do this by moving the popover class out of the global stylesheet and redefining it on a per-platform basis (style.platform.css).
Also we should discuss the text because it currently take

[2016-09-24 11:44] WoH opened #84 "Pokemon Filter Tab"
![](https://camo.githubusercontent.com/bc398bc4555f94f19fb80f0426e2e7bb36a2ae59/68747470733a2f2f66696c65732e6769747465722e696d2f726f73746c61626a73313670726f6a656374652f4c6f6262792f3150694e2f494d475f303634322e4a5047)

Type Overview
- [ ] 3 State (Selected, Deselected, Partially selected) Radio Buttons for all the Types
- [ ] Connected to represent the selected Pokemon
- [ ] **Optional:** Toggle to

[2016-09-24 11:49] #84 closed

[2016-09-24 11:50] WoH commented on #53
What's the status here?

[2016-09-24 11:51] WoH commented on #51
I'll close this now unless someone decides this is still needed, since there was no response

[2016-09-24 14:08] johartl commented on #49
@mfkaptan Are you on this?

[2016-09-24 14:20] johartl commented on #62
@mfkaptan What's the status here? Can we close the poll?
http://www.easypolls.net/poll.html?p=57e3e857e4b020885be6111d

[2016-09-24 16:17] mfkaptan commented on #49
I am.Currently boarding on a plane. I will update you asap.

[2016-09-25 10:31] sacdallago commented on #53
@MajorBreakfast I was trying to get the rostlab server to collaborate, in vain.

[2016-09-25 10:42] mfkaptan commented on #62
Seems like we have a tie between `predictemall.com` vs `pokegoers.de`. What
is your solution?

On Sat, Sep 24, 2016, 17:20 Jochen Hartl notifications@github.com wrote:

[2016-09-25 10:43] sacdallago commented on #62
I like them both 💃  Maybe tending slightly more to the _predictemall_

[2016-09-25 10:48] sacdallago commented on #77
Yeah, I'll do that on production, via let's encrypt or startssl, but rather the first one

[2016-09-26 00:12] AlexanderLill commented on #74
I need the types for the pokemon at some point - should we ask to include a list of all (used) types in the API, or should we just include all of them hardcoded or get this data ourselves?

I just noticed after using hardcoded types that for some types there seem to be no pokemon. Maybe it would be helpful to get them over a API request, e.g. /api/getPokemonTypes or sth :)

I got the typelist from

[2016-09-26 12:23] MajorBreakfast commented on #74
I've updated the issue with a description of the working principle.

[2016-09-26 15:29] mfkaptan commented on #49
Do we need any other versions?

[2016-09-26 18:16] AlexanderLill commented on #74
@MajorBreakfast my current PR #85 includes stages 1 and 2 but still has some minor issues, e.g. an UI refresh bug and is missing some fancy CSS.

I would suggest to implement stage 3 another time, especially since your working principle seems quite hard to implement for me without providing a lot of benefit right now.

@philbu I added the list of types to the ApiService, maybe you can adjust your

[2016-09-26 19:04] AlexanderLill opened #86 "Implement pokemon rarity in pokedex detail view / pokedex overview"
Hello everyone,

the rarity and appearance likelihood are now available on the API after our request (https://github.com/PokemonGoers/PokeData/issues/163) has been implemented.

We should discuss where specifically and how we want to use this data now - let's collect some ideas :)

[2016-09-27 11:11] mfkaptan commented on #62
@gyachdav I closed the poll, here is the last result:
![image](https://cloud.githubusercontent.com/assets/3976573/18871055/e010caec-84b3-11e6-9056-453f410a9335.png)

[2016-09-27 11:38] goldbergtatyana commented on #62
I see undecided between pokegoers.de and predictemall.com (both 35%).

What is the final solution @mfkaptan ? Another poll :-D ?

[2016-09-27 12:21] mfkaptan commented on #62
@gyachdav @sacdallago What do you think? Should I send another poll link to googlegroups?

[2016-09-27 12:32] semioniy commented on #62
Somebody, just throw a coin)

[2016-09-27 12:40] mfkaptan commented on #62
Or maybe let's go with predictemallpokegoers!.de with exclamation mark in it. Oor maybe we can do a poll to decide if we should do an another poll (pollception).
Jokes aside, I think one final poll is the answer.

[2016-09-27 12:54] MajorBreakfast commented on #62
Since our app is in English IMO a ".com" domain is more favorable.
We could do another poll with just two choices: "predictemall.com" "pokegoers.de"

Also some rumbling: "goer" is not a word. "predictemall" reads like "predict e-mall" (mall as in shopping center). Haha :) (Yep, I voted for "pokeoracle")

[2016-09-27 13:04] MajorBreakfast commented on #74
@AlexanderLill

You don't need to implement everything in one PR.

As for the complexity. Well, originally we had a lot more complicated ideas swirling around: Like a whitelist and blacklist mode, different filters and what not. I think the solution @johartl, @WoH and I came up with is quite elegant. I'm confident that we can build this solution. It doesn't have to be all you, though!

[2016-09-27 13:24] MajorBreakfast commented on #82
I've a nice replacement for the ionic popover in the works. It will be responsive and styled nicely. https://github.com/PokemonGoers/Catch-em-all/pull/83

[2016-09-27 16:13] #82 closed

[2016-09-27 16:13] WoH commented on #82
I already fixed that anyway.

[2016-09-28 05:36] juanmirocks commented on #62
My 2 cents: 1) we want a .com or .net for an international audience. 2) I
also don't get / cannot parse "predictemall.com"
On Tue, 27 Sep 2016 at 14:54, Josef Brandl notifications@github.com wrote:

[2016-09-28 09:12] gyachdav commented on #62
can you keep pokepoint in the next and last poll?

btw, all .com suffixes will probably be expensive

[2016-09-28 09:16] AlexanderLill commented on #62
@gyachdav see https://github.com/PokemonGoers/Catch-em-all/issues/62#issuecomment-247763820 for some price ranges.

Which pokepoint do you mean btw? .co? .info?

btw what a waste of a domain ... xD http://pokepoint.com/#

[2016-09-28 09:25] jonas-he commented on #62
@juanmirocks the original theme song for the pokemon cartoon series did contain the phrase "gotta catch 'em all" (refer to https://www.youtube.com/watch?v=lrHJhKEtQEI) and since then it was a slogan in the whole franchise. "predictemall" would then read like "predict em all" accordingly.

[2016-09-28 09:26] gyachdav commented on #62
whatever is available. .info sounds more appropriate.

On Sep 28, 2016, at 12:16 PM, Alexander Lill notifications@github.com wrote:

[2016-09-28 09:35] johartl commented on #49
@mfkaptan The other resolutions (xxxhdpi, xxhpdi, xhdpi, and so on) will be rendered automatically by Ionic from the large resolution.So these two are just fine.
Did you manage to convert the logo?

[2016-09-28 09:39] johartl commented on #86
Two ideas
- The ranking we could show in the pokedex alongside the other Pokemon stats (e.g. CP, flee rate,..)
- In the pokedex index page where all Pokemon are shown and/or in the Pokemon filter tab we could show a star-based indication of the Pokemon rarity. For instance, Pidgey gets one star and the legendary Pokemon get three stars. This lets the user spot rare Pokemon more easily.

[2016-09-28 09:42] juanmirocks commented on #62
@jonas-he that makes sense -- but didn't get that reference from just
reading (first time I read it) - Maybe it could be hyphenated or similar.
Just my 2 cents

On Wed, Sep 28, 2016 at 11:26 AM Guy notifications@github.com wrote:

[2016-09-28 11:36] WoH commented on #86
![statchart](https://cloud.githubusercontent.com/assets/2697771/18911998/64315252-8580-11e6-8fe7-3a4aca42ceeb.png)

I am working on something like this for the stats, maybe include rarity there?
Or just another chart but use stars instead of a bar?

[2016-09-28 11:51] johartl commented on #86
I wouldn't include it in these bars. These stats are all related to the Pokemon's abilities (How strong is that Pokemon). Just because a Pokemon is rare does not make it stronger so that shouldn't affect the _Total_ value and I think we should place that information somewhere else.
Also, can you create a legend for the stats (HP, ATK, ..) somewhere. I have no idea what SPA and SPD stand for. Or ma

[2016-09-28 12:19] WoH commented on #86
Well this is standard Pokemon lingo, so idk, but changing the title isn't gonna make or break it :wink:

[2016-09-28 18:48] AlexanderLill commented on #78
@PokemonGoers/pokemap-1
@PokemonGoers/pokemap-2
are there any updates? :)

[2016-09-30 08:18] WoH opened #89 "Filter Event handling system"
I'd suggest a Redux style approach using the ionic Event system. Whenever the filter is changed, an event filter:changed should be fired with a new instance of a filter with the new values set as payload. The mappage handles these and sets it's filter to the new one in the payload.
Since we are using a class we could do just modify and bubble up the event but I think this one is better down the li

[2016-09-30 08:21] WoH opened #90 "migrate to Ionic RC1"
- [x] Migrate to NgModule
- [x] Base on Angular 2.0.0 Final
- [x] Update to Angular 2.1.0
- [x] ionic2-rc0 && ionic2-rc1
- [x] Switch to Rollup
- [x] New button behavior
- [x] Update CSS Link Tags
- [x] Migrate to TS 2.0
- [x] use new typings system
- [x] new buttons, icon buttons
- [x] color attributes instead of directives
- [x] Switch to the new Lifecycle Hooks **WIP**

Renamed ionViewLoaded to

[2016-10-02 08:18] sacdallago commented on #78
@PokemonGoers/pokemap-1
@PokemonGoers/pokemap-2

[2016-10-02 08:21] sacdallago commented on #49
@mfkaptan news?

[2016-10-02 12:20] mfkaptan commented on #49
@johartl @sacdallago I managed to create the logos, where should I upload them?

[2016-10-02 12:39] johartl commented on #49
How about here? Just drag+drop them into the input field.

[2016-10-02 20:41] AlexanderLill commented on #74
Okay, I just merged the preliminary pokemon filter.

Open issues:
- [ ] If "select all" or "select none" is clicked the list does not immediately update. It works if the same button is clicked another time, or if any item in the list is clicked.
- [x] The layout and CSS of the dialogue could use some improvements
- [x] The pokemon-list in the lower part of the dialogue only starts loading when the

[2016-10-02 21:30] AlexanderLill commented on #80
@johartl this can be closed after #87 is merged, right?

[2016-10-02 21:31] AlexanderLill commented on #86
I added the fields in the model and a basic overview over the rarity to the pokedex-detail-page for now (see #91)

[2016-10-02 21:32] AlexanderLill commented on #86
@PokemonGoers/catch-em-all did somebody start with the visualisation for the pokewiki search page yet?

Are we doing the 3-stars-approach, or do we have better ideas? Is there maybe any visualisation that is used in the PokemonGo app already?

[2016-10-02 21:37] AlexanderLill commented on #27
@johartl this can be closed once #87 is merged, right?

[2016-10-02 21:49] mfkaptan commented on #49
Sorry, I was on a mobile device when I asked. Here you go:

favicon.png
![favicon](https://cloud.githubusercontent.com/assets/3976573/19023947/843ed768-88fa-11e6-922d-430ce78c5b44.png)

splashscreen.png
![splashscreen](https://cloud.githubusercontent.com/assets/3976573/19023951/9915f6e4-88fa-11e6-9f51-6620b34cc85f.png)

And another one (600x600) in case we need for something else:
![logo600](https

[2016-10-03 11:05] WoH commented on #80
@AlexanderLill No, this is the Mob card, not the POI card.

[2016-10-03 11:15] AlexanderLill opened #92 "Popover is shown out of screen bounds"
The popover is not completely on the screen, but about 80% are below the shown screen (see screenshot).

I am using the current release from HockeyApp (Oct 3rd, 1:04am) which is the following commit:
Merge pull request #91 from PokemonGoers/poke-rarity (01a06cbb6e08a8028fda087ccae5fb836ef44666)

![screenshot_20161003-011050](https://cloud.githubusercontent.com/assets/11082297/19035694/5eea1f42-896

[2016-10-03 11:31] AlexanderLill commented on #48
@PokemonGoers/catch-em-all @sacdallago @gyachdav can this issue be closed then?

[2016-10-03 11:33] AlexanderLill commented on #69
We also wanted the pokemon rarity here, did we? Can we quickly discuss this? :)

See #86

[2016-10-03 11:34] AlexanderLill commented on #69
We also wanted the pokemon rarity here, did we? Can we quickly discuss this? :)

@mfkaptan whats the current status here?

See #86

[2016-10-03 11:34] AlexanderLill commented on #80
@WoH but i saw some code in his PR that seemd to be handling the mobs :)

[2016-10-03 11:35] AlexanderLill commented on #68
@Georrgi @mfkaptan @Lugitan whats the status here? :)

[2016-10-03 11:36] johartl commented on #90
Have you tried running the Docker build? For me, the cordova.js file was missing. I don't know who is supposed to generate it but apparently `ionic build browser` doesn't do the trick.

[2016-10-03 11:40] johartl commented on #86
I don't think the PokemonGo app has a notion of rarity build in. After all, that's probably information they don't want to disclose so easily ;)
I like the idea of using stars but I would also be open for other suggestions.

[2016-10-03 11:41] johartl commented on #80
That's a different concept because for the mobs we want to display the tweets causing that mob. But I'm sure we can reuse the swipe card and just fill it with different content.

[2016-10-03 11:46] AlexanderLill commented on #80
Okay :) I was just trying to clean up the issues a little bit :)

[2016-10-03 13:09] WoH commented on #90
I'll have to look into the docker build, ionic build browser is working as intended and everything required ends up in platforms/browser/www

Edit: Using the new directory now

[2016-10-03 13:17] WoH commented on #90
@johartl Can you look into the API Endpoint stuff (ConfigService)? I worked around that to make it work locally, maybe you can reintroduce the env variables?

[2016-10-03 18:13] johartl commented on #90
Environment variables are fixed. Docker should also work.
Please avoid relying on any globally installed packages (e.g. `npm install -g cordova`) and install them locally instead. I also removed the `rm -rf node_modules` line you've introduced. This is just gonna give us painfully long Travis builds. If there should be any issues with npm installs you can always just clear the cache.

[2016-10-04 07:11] WoH commented on #90
I had to do it one time to solve an issue with npm. However, keeping it is not neccessairy, I agree. Same thing goes for the cordova. previously, the builds were failing because n_m/.bin/ionic build would try to get plugins using cordova.

[2016-10-05 04:11] sacdallago commented on #68
Updates?

[2016-10-05 04:16] sacdallago commented on #48
@johartl email sent with the emails to be added to the hockeyapp - sorry for major delay

[2016-10-05 04:16] #48 closed

[2016-10-05 04:41] sacdallago commented on #49
Amazing!

[2016-10-05 04:42] sacdallago commented on #92
Can you reproduce this also on web?

[2016-10-05 04:44] sacdallago commented on #62
Time to :moneybag: :moneybag: :moneybag: :moneybag: :moneybag: :moneybag:

Need final name to make blin blin

[2016-10-05 05:52] sacdallago commented on #24
Can this be closed, if everything has been sub-issued?

[2016-10-05 06:00] sacdallago commented on #9
This can be closed, I believe.

Although: what is the

[code]

error?

Then:
- Will the center and zoom be automatically adjusted to the user's location when on https?
- Can you set a closer zoom level for the default + set the center at some location. It's always nice to have a fallback, which might as well be TUM or a funny address, eg. `48.132100, 11.546914`  :laughing:

[2016-10-05 07:11] gyachdav commented on #62
sounds like predictemall won

[2016-10-05 07:15] marwage opened #93 "Cache Pokémon predictions"
Hi ;)
I'm from the predictions team and we would like to know
if you cache our predictions when there is an equal request (location and time)?
We are asking for that because predictions need processing power and therefore time.
Have you already implemented something or are you planning to?

[2016-10-05 11:47] AlexanderLill commented on #92
It also happens when I use the Chrome browser on my android. I can't reproduce it with Chromium on my desktop though, even if I switch to the mobile view in the Developer Tools.

Not sure if this should be investigated if we replace the implementation of the popover anyway. If we want to investigate this, we would need more android users that try this.

[2016-10-05 11:56] AlexanderLill commented on #93
Hello @marwage,

as far as I know we are not planning to cache those predictions. It would make sense if your team @PokemonGoers/predictpokemon-2 could do that, e.g. by saving them in the mongoDb of team @PokemonGoers/pokedata or some other database.

Our team does not have any persistence layer yet and just uses the APIs from all other teams to gather data, so imho it would make sense if your API

[2016-10-05 12:38] johartl commented on #93
I agree with @AlexanderLill. As we don't have a database (or some other kind of storage) installed alongside our server the only way we could achieve caching would be locally on the client.
This means that multiple subsequent requests by the same client can be answered by the cache but if different clients request predictions for the same location this would still result in multiple requests to yo

[2016-10-05 12:46] #24 closed

[2016-10-05 12:54] johartl commented on #9
The `HTTP GET` error is arises because one of the pokemap teams is expecting the websockets to be available at `localhost:3000`. This should be fixed by https://github.com/PokemonGoers/PokeData/issues/168.

Yes it should. It already does when running locally.

This is done by the PokeMap team. We told them to initialize the map "somehow". You would need to address this issue to them.

I will close

[2016-10-05 12:54] #9 closed

[2016-10-05 14:36] #27 closed

[2016-10-05 21:19] bensLine commented on #93
Thanks for the heads up! If we cache them in the DB of @PokemonGoers/pokedata we would only store them for a short time, as we predict only for the current time. Is this correct @goldbergtatyana or do we provide predictions for which the user can specify the time?

[2016-10-06 08:04] sacdallago commented on #93
Hey. I think that storing them in a db such as mongo would add a tremendous overhead. You can set TTLs on documents in mongo but it's tricky and I'd rather avoid that.

There are some out-of-the-box solutions for caching on the server side (usually storing a cache on disk), so if the predictions are serviced by the api guys (which, given the circumstances, seems to be the most reasonable solution)

[2016-10-06 08:17] sacdallago commented on #9
Thanks @johartl :)

[2016-10-06 08:18] goldbergtatyana commented on #93
yep, I agree with @sacdallago, lets keep it all clear and simple :) No time specifications for a user and no storings of predictions in mongodb.

[2016-10-06 08:20] sacdallago commented on #9
@PokemonGoers/pokemap-1 could you please also take care of this, @timoludwig has already implemented it :)

[2016-10-06 08:28] sacdallago commented on #92
Happens on mine as well:
Note 4, un-rooted Android v6.0.1

Can try this evening on:
A Nexus 7 and a Tab S v2 8 and let you know if it's the case there as well. Seems to be Android bound

[2016-10-06 08:29] sacdallago commented on #62
Namecheaping the shit out of that domain name in 10

[2016-10-06 09:27] oleks-fedotov commented on #9
@sacdallago yes, sure. thanks for activity.

[2016-10-06 09:34] sacdallago commented on #62
what about predictem . today
Sounds fancy as fuck!

[2016-10-06 09:44] AlexanderLill commented on #62
Is e.g. prectict-em-all available too? ^^

On Oct 6, 2016 11:34, "Christian Dallago" notifications@github.com wrote:

[2016-10-06 09:46] sacdallago commented on #62
yo! but hypens in a link? So 1950s!

[2016-10-06 09:47] goldbergtatyana commented on #62
yeah and I always read 'predict a mall' 😸

[2016-10-06 09:47] sacdallago commented on #62
@goldbergtatyana right?!?!! Btw, can you ask inga real quick how the story of me buying it with my CC is? Like exact address I have to put aso.

[2016-10-06 20:49] AlexanderLill commented on #86
See a very simple implementation of this now in the PokeDex here: #96

I will close this issue after merging this PR.

[2016-10-06 20:56] AlexanderLill commented on #69
I implemented the pokemon rarity myself now: #96

Still, what's the status here?

[2016-10-06 20:56] AlexanderLill commented on #69
I implemented the pokemon rarity myself now: #96

Still, what's the status here? @Lugitan @mfkaptan

[2016-10-07 10:36] philbu commented on #92
Same on LG G4 with Android 6.0

[2016-10-07 13:21] #89 closed

[2016-10-07 13:23] WoH opened #97 "Persist filter options in local storage"
Implement a FilterService that sets the filter when the app is starting up and persists the settings in the local storage.

Would be a good contribution for someone who is looking to contribute @PokemonGoers/catch-em-all

[2016-10-08 10:59] #49 closed

[2016-10-08 17:43] AlexanderLill opened #100 "Adjustments to the about page"
Feedback from @goldbergtatyana ( Taken from #95 )

[2016-10-08 17:45] AlexanderLill commented on #100
Issue Nr
![100](https://badges.mozilla.org/media/uploads/badge/a/c/acd0cd3ead8b5bbd2faaf335467a98b8_image_1363634027_0161.png)

\o/ :P

[2016-10-08 17:50] AlexanderLill commented on #11
@johartl I am not entirely sure what this issue was about. It also is quite old :)

Can you elaborate, or should we just close it?

[2016-10-08 18:18] WoH opened #101 "Map filtering"
Since the filter is now well-synced throughout the app, we need to pass it to the pokemap.
This requires transforming the Filter() to a filterObj{} according to the specification (https://github.com/PokemonGoers/Catch-em-all/issues/24).

  - `pokemonIds` Array of Pokemon IDs which are shown (applies to predictions and sightings) on the map. If `null` show all 151 Pokemon.
  - `sightingsSince` Time

[2016-10-08 21:01] johartl commented on #11
I think we already have that functionality included in the filter popover. So yes you're right, we can close this issue.

[2016-10-08 21:01] #11 closed

[2016-10-09 00:43] AlexanderLill commented on #100
Now is also the time to tell us if you want any URL behind your particular name. Otherwise we could just put a github link for every profile.

If you want your customized website link, reply here ;)

@PokemonGoers/catch-em-all
@PokemonGoers/hashpokemongo
@PokemonGoers/pokedata
@PokemonGoers/pokemap-1
@PokemonGoers/pokemap-2

[2016-10-09 06:18] sacdallago commented on #100
Even better, propose changes on the relative PR? @AlexanderLill

[2016-10-09 06:24] gyachdav commented on #100
https://www.linkedin.com/in/gyachdav

[2016-10-09 06:49] sacdallago commented on #100
@gyachdav I did that already 💃

[2016-10-09 13:53] gyachdav commented on #90
when is the MVP out?

[2016-10-09 13:57] gyachdav commented on #80
is this demoable?

[2016-10-09 13:59] gyachdav commented on #68
Please status update ASAP. ASAP! 📢

[2016-10-09 14:27] mfkaptan opened #104 "Pokemons not in order in pokedex page"
Some pokemons are in the wrong place on the pokedex index page. Some of them are:
19 Ratata, 129 Magikarp, 132 Ditto

![image](https://cloud.githubusercontent.com/assets/3976573/19221138/7909946c-8e3d-11e6-83be-5b689dc3efeb.png)

[2016-10-09 14:32] AlexanderLill commented on #86
PR #96 was merged.

[2016-10-09 14:32] #86 closed

[2016-10-09 14:36] AlexanderLill commented on #104
This is because the pokemon are not sorted by the @PokemonGoers/pokedata team, meaning the call to `api/pokemon` returns the pokemon `1, 2, 3, 132, 4, ...` etc.

I think it would make the most sense if we sort them client-side - what do you guys think? @PokemonGoers/catch-em-all

This looks like a valid solution:
http://stackoverflow.com/questions/32882013/angular-2-sort-and-filter

[2016-10-09 14:39] WoH commented on #90
This will be merged after the beta probably.
It is in a solid state but we have to take care of enough things so we don't want to add additional complexity for now, since the migration involves a completely new build process and breaking changes in both Ionic and Angular

[2016-10-09 14:45] WoH commented on #104
I have just briefly looked at stackoverflow, but a sorting pipe (orderById) is the way to go here.
Angular 2 doesn't ship with one, but the complexity is very low.

[2016-10-09 14:51] johartl commented on #101
I'm working on this.

[2016-10-09 14:51] johartl commented on #97
I'm working on this.

[2016-10-09 14:53] WoH commented on #101
Are you sure? I was hoping someone else would want to get some lines down tbh and I thought this would be a perfect opportunity. But since we are running out of time I guess it's fine.

Edit: Maybe give anyone else a chance until tomorrow morning?

[2016-10-09 14:53] WoH commented on #97
See https://github.com/PokemonGoers/Catch-em-all/issues/101#issuecomment-252490998

[2016-10-09 15:02] swathi-ssunder commented on #104
This is now fixed and the API returns the Pokemons in ascending order of pokemon ids.
Someone could close this issue as I do not have access.

[2016-10-09 15:04] WoH commented on #104
Guess that works aswell :smile:

[2016-10-09 15:04] #104 closed

[2016-10-09 15:31] AlexanderLill commented on #104
@swathi-ssunder thanks :)

[2016-10-09 15:38] AlexanderLill commented on #100
- Alexander Lill: https://www.github.com/AlexanderLill

[2016-10-09 16:26] AlexanderLill commented on #93
Created an issue in the @PokemonGoers/pokedata project:
https://github.com/PokemonGoers/PokeData/issues/180

( @marwage @johartl @bensLine @sacdallago )

[2016-10-09 16:26] #93 closed

[2016-10-09 16:54] mfkaptan commented on #68
Implemented the tweet view as a slider. Work in progress on tweet-view branch ff5b2497f8275a296eefea9a11edc84106d3cdde
More updates are coming soon

Status update 12.10: Tweet view works with mock data, working on getting real data from api
Status update 16.10: Waiting response from PokemonGoers/PokeData#189

[2016-10-09 17:57] gyachdav commented on #77
status?

[2016-10-09 21:40] johartl commented on #77
My understanding of this was that @sacdallago is going to take care of it? Is this still correct?

[2016-10-10 02:49] sacdallago commented on #77
Yes. We have the domain name, I just have to buy the server, get the certificates and migrate docker cloud. My agenda says this should be done until Wednesday

[2016-10-10 04:40] sacdallago commented on #69
@Lugitan @mfkaptan update now? Can we assume you are still alive?

[2016-10-10 04:41] sacdallago commented on #62
Bought. Will be announced later

[2016-10-10 04:41] #62 closed

[2016-10-10 04:42] sacdallago commented on #100
@AlexanderLill please focus on more urgent matters

[2016-10-10 06:37] johartl commented on #77
How do you want to read the certificate inside the Docker container? Mounting a volume into the container and then use an environment variable to specify the location?
`docker run catchemall -v ~/secret:/secret -e HTTPS_CERTIFICATE=/secret/cert.pem`

[2016-10-10 09:06] mfkaptan commented on #69
How does this look on mobile (two column view) (Discussion on gitter)

![image](https://cloud.githubusercontent.com/assets/3976573/19231300/9579f1d6-8ed9-11e6-9048-9313dcd0877d.png)

[2016-10-10 16:12] sacdallago commented on #69
I like the idea. But a few pointers (not necessarily to be corrected, just my 2 cents):
1. I guess the number was part of the discussion, right? 5 is something most of us can relate to naturally, that's why most ordinal questionnaires span on 5 values. 3 is fine too, but at first impact most people will think "are there five or is 3 the actual maximum?".
2. Stars, in today's websites, account for

[2016-10-10 16:16] sacdallago commented on #77
Nah: I'll just connect to the VM, install `letsencrypt`, get the certificate, reverse-proxy via nginx. It's what I'm doing with http://cell.dallago.us which really is http://cellmap-devel.bb5a8828.svc.dockerapp.io:2090 (adding the certificate layer via nginx is a joke).

[2016-10-10 16:20] sacdallago commented on #92
I'll add something to this:

now the button gets hidden by the tile layers! Are you adding the map before or after the button? Also worth looking into the `z-index` of the button.

_Edit_: you can reproduce this by zooming in or out.

[2016-10-10 16:49] #97 closed

[2016-10-10 16:49] #101 closed

[2016-10-10 17:01] johartl commented on #77
So for requests to the API we have the client sending an https request to your nginx server which proxies the request to the CatchEmAll docker container running a node server which proxies the request to the PokeData container? :D

...

![](https://i.imgflip.com/1c3kjn.jpg)

No but seriously... Sounds fine to me. Less to do on our side :)

[2016-10-10 17:14] johartl commented on #92
@sacdallago The bug is caused by https://github.com/PokemonGoers/PokeMap-1/issues/35
Edit: .. was caused. It's fixed now :)

[2016-10-10 17:15] mfkaptan commented on #69
I don't think people will think like that because the index page actually looks like this:
![image](https://cloud.githubusercontent.com/assets/3976573/19244540/084f5c9e-8f1d-11e6-89b1-f2ba8f497fea.png)

So IMO it is clear that 3 is maximum here.

I'm with you on that. I'll try to change it to bars so that we can discuss further. I'm thinking something like this:

![](https://cdn3.iconfinder.com/da

[2016-10-10 17:37] AlexanderLill commented on #77
@sacdallago is this me or should https://cell.dallago.us/ then actually work instead of showing `ERR_SSL_PROTOCOL_ERROR`? :D

[2016-10-10 18:00] WoH commented on #92
For the builds we can fix the position, however this is just a workaround.
I'll look at this again once we are on RC0

[2016-10-10 22:45] philbu commented on #92
#108 Workaround by using modal. But there is still a bug.

[2016-10-10 22:56] philbu commented on #78
Fixed by new map update

[2016-10-10 22:56] #78 closed

[2016-10-11 01:26] sacdallago commented on #77
@AlexanderLill I never shared a link containing HTTPS ;) for that website, https would just slow requests down. No need for the extra security.

[2016-10-11 01:27] sacdallago commented on #69
@mfkaptan  I like that a lot!

[2016-10-11 01:30] AlexanderLill commented on #77
Ah, then I misunderstood that :D My bad :)

On Oct 11, 2016 03:26, "Christian Dallago" notifications@github.com wrote:

[2016-10-11 06:54] AlexanderLill opened #110 "[SCSS] Rarity rating gets cut off"
The rarity rating in the POI card gets cut off when the pokemon name is too long, e.g. with Magnemite.

![screenshot_20161010-232833](https://cloud.githubusercontent.com/assets/11082297/19261263/34e0dc4c-8f90-11e6-8039-e583b129de87.png)

[2016-10-11 10:04] mfkaptan commented on #69
Not the final product but:

![image](https://cloud.githubusercontent.com/assets/3976573/19266621/9e38c474-8faa-11e6-93dd-a5de79e512a8.png)

@sacdallago @AlexanderLill what do you think about the bars?

[2016-10-11 10:40] AlexanderLill commented on #69
Not bad :)

Let's discuss color ... ;)

How about some grey? Better ideas? :)

[2016-10-11 12:56] philbu commented on #53
@gyachdav @sacdallago did you manage to take care of the privacy policy? What's the status here?

[2016-10-11 13:19] gyachdav commented on #51
request from iteratec:

Could you please change Iteratec in iteratec without capital „I“.
„We want to thank our sponsor Iteratec for providing the domain, hosting and some interesting insights into their company.“

[2016-10-11 13:22] WoH commented on #92
Fixed: https://github.com/PokemonGoers/Catch-em-all/commit/a3b8717f883849aa91c986c625cbeba8285b7302

[2016-10-11 13:22] #92 closed

[2016-10-11 13:27] WoH commented on #51
Done, https://github.com/PokemonGoers/Catch-em-all/commit/97ba19bff9ae690e4d65c258651aab4d212ccd39

[2016-10-11 15:25] #51 closed

[2016-10-11 16:01] mfkaptan commented on #69
I am using free icons from wherever I can find. I am not good at drawing or anything :( So if you can find a free icon pack for the bars with better colors ("signal strength" could be a useful keyword for searching) that would be great! I found this one from https://icons8.com/web-app/12367/medium-connection

[2016-10-11 17:02] WoH commented on #69
I fear signal bars are confusing for as they could also indicate distance to that pokemon. Maybe a background or a badge like with a color code as shown here: [Rarity color code](http://i.imgur.com/Qmx2vF2.jpg)

Or, for the hardcore pokemon fanatics: [GER](http://www.pokewiki.de/Seltenheit) / [ENG](http://bulbapedia.bulbagarden.net/wiki/Rarity)

[2016-10-11 19:58] WoH opened #114 "[SCSS] PokeDetail Page"
The evolutions component is too wide and the attack type labels are off.

![screenshot_20161011-213953](https://cloud.githubusercontent.com/assets/2697771/19286322/82b1e142-8ffd-11e6-831b-b2d63b4e6a64.png)

[2016-10-11 20:12] mfkaptan commented on #69
@WoH Good point. But as a "softcore" fan I actually found those color codes confusing, for example green seems like "common" to me but it says green is for "rare" pokémons. Also I guess blue can be interpreted as a water type pokemon red as fire etc. I am not sure about the colors. I don't know if I'm the only one thinks like that. A second opinion would be good. Maybe @AlexanderLill or @sacdallag

[2016-10-11 20:24] johartl commented on #114
I have another thing to add. The animated Pokemon gifs are nice but since their resolution is too low with respect to this size and resolution I would also replace them with the high-res SVGs.

[2016-10-11 20:56] mfkaptan commented on #69
Maybe this looks kinda ugly but how about something like this? Just think about the idea:

![image](https://cloud.githubusercontent.com/assets/3976573/19288307/c3797bb0-9005-11e6-987f-fd9d78764892.png)

[2016-10-11 21:40] mfkaptan commented on #69
Or this:
![image](https://cloud.githubusercontent.com/assets/3976573/19289642/fc60b5f0-900b-11e6-9360-559bd6d79c39.png)

[2016-10-11 21:41] mfkaptan commented on #69
For side-to-side comparison

![image](https://cloud.githubusercontent.com/assets/3976573/19289698/51af933c-900c-11e6-9398-c873d0939b29.png)

[2016-10-11 21:43] mfkaptan commented on #69
Vote with thumbs up:

![image](https://cloud.githubusercontent.com/assets/3976573/19289741/78f4b4c2-900c-11e6-9b92-381d922dcfd5.png)

[2016-10-11 21:52] mfkaptan commented on #69
~~@WoH upon request~~ Colored bars:
![image](https://cloud.githubusercontent.com/assets/3976573/19289966/861ecd3a-900d-11e6-9a41-fde5be6dbba7.png)

[2016-10-11 22:03] WoH commented on #69
@mfkaptan I was thinking of plain old colored badges, maybe with text, do not associate my name with signal bars :cry:

[2016-10-11 22:05] mfkaptan commented on #69
@WoH Sorry, my bad it's getting late :see_no_evil:

[2016-10-11 22:17] mfkaptan commented on #69
@WoH Sorry, my bad it's getting late :see_no_evil: Here you go (?)

![image](https://cloud.githubusercontent.com/assets/3976573/19290689/2764a342-9011-11e6-8c0c-85820fd6c2a6.png)

[2016-10-11 22:24] WoH commented on #114
Agree

[2016-10-12 07:31] gyachdav commented on #69
Color badges make the most sense to me. Nice job @mfkaptan.

[2016-10-12 10:02] philbu commented on #114
Fixing these issues in PR #115

[2016-10-12 13:28] MajorBreakfast commented on #69
Good idea. These badges are much more self-explanatory.

[2016-10-12 17:50] mfkaptan commented on #69
Ok I guess everybody is happy with badges then. Question:

According to @WoH 's comment:

There are 8 color codes and rarity options from `very common` to `legendary`. Should we follow the same color coding style? same options with same colors? I think it would be nice, WDYT? @sacdallago and all?

If so, @AlexanderLill I think we should change the algorithm of rarity then, right?

[2016-10-12 17:59] goldbergtatyana commented on #69
I think +1 !

[2016-10-12 18:22] mfkaptan commented on #69
I just found out that the rarity color chart is unofficial, and it is fan-made http://imgur.com/gallery/ZTgIu so now I am not sure about following the same style.

[2016-10-12 18:40] gyachdav commented on #69
I'd use green to red (common to rare)

[2016-10-13 06:47] AlexanderLill commented on #69
I agree with Guy, green orange red seems reasonable to me :)

On Oct 12, 2016 20:40, "Guy" notifications@github.com wrote:

[2016-10-13 08:07] sacdallago commented on #53
@philbu Just take the one from got.show and replace the necessary parts (GOT> pokemon, TUM > PokemonGoers) :) https://got.show/privacy

[2016-10-13 08:46] #114 closed

[2016-10-13 09:05] MajorBreakfast commented on #69
About the style: We should make a visible distinction between the rarity tags and Pokemon type tags. I propose rounded corners for one and sharp corners for the other.

**Example: Rounded corners**

![imgres](https://cloud.githubusercontent.com/assets/340142/19343056/e53620ca-9134-11e6-9f52-8c0a638f6444.png)

**Example: Sharp corners**

Imagine a rectangle :) Haha

@mfkaptan Feel free to decide wh

[2016-10-13 11:29] MajorBreakfast opened #117 "Map bugs"
I am opening this as a meta issue for now. Maybe they're bugs due to the integration, maybe they're legit map bugs.

**404 Bug**
![map-bug](https://cloud.githubusercontent.com/assets/340142/19347327/8a6be030-9148-11e6-84ea-62e0fce10d06.jpg)
When panning and zooming around the map **via touch** I get 404s for the images. (Tested in Chrome on Windows)

**Pokemon Visibility Bug**
When I zoom in and o

[2016-10-13 11:35] gyachdav opened #118 "Iteratec logo"
Iteratec requested:

- [ ] Place logo (just the face) more prominently somewhere in the APP/Webpage? (@gyachdav: I suggest to put in the right side of the footer)

- [ ] have the logo on the map where Iteratec's offices are situated?

![image](https://cloud.githubusercontent.com/assets/4074881/19347560/12ff95b4-9152-11e6-8770-4976237ae5f7.png)
![image](https://cloud.githubusercontent.com/assets/40

[2016-10-13 12:10] MajorBreakfast commented on #118
I make myself responsible. Alex is busy with exams.

[2016-10-13 12:19] MajorBreakfast commented on #118
- I suggest adding the text "Sponsored by" to clarify why their logo is placed
- We should use the full version of the logo to distinguish it from the commonly known Mac logo

![macos-logo svg](https://cloud.githubusercontent.com/assets/340142/19348650/36482444-914f-11e6-951d-384c56122325.png)

I suggest placing it in the sidebar. That way it is very visible:

![logo-placement](https://cloud.githu

[2016-10-13 12:28] MajorBreakfast opened #119 "Remove license text from sidebar"
Currently the text in the sidebar says "Licensed under Creative Commons Attribution 3.0". I suggest removing it, here's why:

- Imprecise/Wrong: Various parts of the application have different licenses attached, e.g. Angular 2 is under the MIT license. To state that the whole application is CC is not correct.
- Clutter: There is no need to place a license statement directly in the sidebar.

![lice

[2016-10-13 12:28] gyachdav commented on #118
They asked us for just the face so let's just do what they asked

[2016-10-13 12:32] MajorBreakfast commented on #119
I'd like to have some thoughts on this. I'll do the change in a PR in conjunction with #118

[2016-10-13 12:32] MajorBreakfast commented on #118
@gyachdav Okay then just the face.

[2016-10-13 12:40] gyachdav opened #120 "pokedex glyphs and tootips"
Can anyone tell me what the glyphs (e.g. heart, paw, medal, person(??)) mean. Are these suppose to be some universally recognized symbols in the pokemongo universe?

if not some legend or tool tips would be useful here

[2016-10-13 12:56] MajorBreakfast opened #121 "Improve PokeDex Detail Page Design"
I'm working on making the PokeDex more modern

- Less formal, more fibrant design
- Responsive
- Improve clarity: E.g. Make Pokemon stats less cryptic #120

[2016-10-13 13:00] MajorBreakfast commented on #120
Yep, I agree. It's very cryptic. I've created #121 for a redesign of the whole page. The design of the page has been bothering me for quite a while now.

The new design will use text in favor of icons. Then it'll be much clearer. Anyway, the glyphs mean "Max Health Points", "Max Combat Points ", "Flee Rate", "Weight" and "Height"

[2016-10-13 16:48] MajorBreakfast commented on #121
PR will come tomorrow. But, here's a sneak preview:

![new-pokedex](https://cloud.githubusercontent.com/assets/340142/19358210/5efb389c-9175-11e6-85ac-36c267de200c.jpg)

I consider the stuff shown on the screenshot finished. However, I still have to revamp the attacks section (not visible above).

Side note: The stuff you see is super responsive. The header section can split on small devices and t

[2016-10-13 18:31] mfkaptan commented on #69
Using red, orange, green and sharp corners, here is the result:

![image](https://cloud.githubusercontent.com/assets/3976573/19361661/dbe47432-9183-11e6-8057-a936e86a1c65.png)

[2016-10-13 19:09] gyachdav commented on #120
okay so this one can be closed?

[2016-10-13 21:16] philbu commented on #121
I don't really like the cloudy design of the stats.

[2016-10-14 00:51] WoH commented on #121
What's the reason for the rather obtrusive background color? I can see this looking a lot better as a navbar color.

E: As already noticeable in your screenshot, this will be very uneasy on the eyes, considering all the different colors of the badges it will be displayed with.

[2016-10-14 03:41] sacdallago commented on #121
@MajorBreakfast I appreciate the effort.

_Things I like_
I like the re-arrangement of stuff, it looks cleaner and more compact. I also like the bigger image in the header.

_Things I don't like_
The background is too obtrusive, and I don't fully understand the reason for the clouds to be :) Boxes can do as well, right?

I believe if you account for the BG and the clouds, the PR might be good to g

[2016-10-14 03:43] sacdallago commented on #118
@MajorBreakfast for the logo on the map, this is an issue for the map teams @PokemonGoers/pokemap-1 @PokemonGoers/pokemap-2

[2016-10-14 03:47] sacdallago commented on #119
@MajorBreakfast remove it. If the licenses are in conflict, we must figure out which on is the least inclusive and use that one, in case.

_Edit_: thanks for noticing

[2016-10-14 03:48] sacdallago commented on #117
You are using the map from @PokemonGoers/pokemap-1 , right? Makes sense to open the issue there?

[2016-10-14 07:56] MajorBreakfast commented on #121
Thanks for your feedback.
The major difference is that the new design is responsive because it adjusts according to the screen size. I'll provide the PR later, after we merge everybody is welcome to propose nice colors and shapes. Let's focus on the broad design aspects for now. I'm confident that we can come up with something that everybody likes together.

![pokedex-details-big](https://cloud.gi

[2016-10-14 08:01] MajorBreakfast commented on #120
@gyachdav I agree

[2016-10-14 08:01] #120 closed

[2016-10-14 08:02] MajorBreakfast commented on #119
Will do. Let's keep the issue open until it's done.

[2016-10-14 12:14] MajorBreakfast commented on #121
Merged.

(We'll get rid of the clouds as soon as I come up with something suitable to replace them. Hehe :)

[2016-10-14 12:14] #121 closed

[2016-10-14 12:15] MajorBreakfast commented on #119
Implemented in #123

[2016-10-14 12:15] #119 closed

[2016-10-14 12:43] mfkaptan opened #124 "Description card and Attack cards not aligned"
The description card is not perfectly aligned with attack cards:

![image](https://cloud.githubusercontent.com/assets/3976573/19387721/527b404c-921c-11e6-9b78-a66af861cf22.png)

[2016-10-14 16:06] philbu commented on #53
I have to criticize the privacy policy from the got.show page. It's seems like an auto-generated, copy-paste, free policy from [this webiste](https://www.freeprivacypolicy.com) and it seems like it was placed on the website without even reviewing it.

First of all there are so many typos. You can't even read fluently at some points.

So let's begin with the first question:

_First of all the formu

[2016-10-14 16:07] philbu commented on #53
# Privacy Policy

## Privacy Policy Explanation

This privacy policy is for the website TODO:Link and served by PokemonGoers to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or loc

[2016-10-14 16:10] philbu commented on #53
@gyachdav @sacdallago How do you find the new Privacy Policy?

[2016-10-14 18:28] gyachdav commented on #53
Thanks for taking a crack at this. Indeed the got.show privacy policy was a hack we did in <5 minutes to get the site up and running.

The new privacy policy looks very comprehensive. a couple of questions:

Do we use Google maps? is that to get directions? also there is a type at:

"Google will response with a longitude and latitude."

And now for the kicker. Due to Niantic's draconian copyrights

[2016-10-14 18:40] MajorBreakfast commented on #53
@gyachdav Hehe these github issues are available to the public. Plus the about page shows a picture taken in a TUM building with students studying at the TUM and their names listed conveniently next to it. Well, at least the PokeDex part of the app should qualify as a fan encyclopedia. All in all the project kinda seems like being at least in a gray zone. :)

BTW the GOT privacy policy says in sev

[2016-10-14 19:01] gyachdav commented on #53
yeah, yeah i get that.. we will need to scrub out these issues as well as identifying details of people who dont wont to have their names associated with this project. At the very least the association with TUM should be completely scrubbed out.

one strategy will be to start obfuscating the names of the pokemons on the pokedex. possibly we can change the names a bit to make them still identifiabl

[2016-10-14 23:13] philbu commented on #53
Remember that your name and the TUM contact address is also on the Imprint & Disclaimer page.
Usually there is a contact address (location of firm and email) on the policy page. Because of the vague definition of policy pages we may be able to avoid a real life address and just go with an email address.

At least one contact information is needed. The user must be able to get in contact to delete

[2016-10-15 23:56] mfkaptan opened #127 "Wrong poketypes shown on bottom sheet"
After clicking a pokemon I can see its types correctly on the bottom sheet. However, after clicking another pokemon, these types won't change. It always shows the first pokemons types:

First click: Pidgey - `Normal` `Flying` (ok)
![image](https://cloud.githubusercontent.com/assets/3976573/19414116/628f9a96-9343-11e6-9261-e6a280df50de.png)

Second click: Ratata - `Normal` `Flying` (?)
![image](htt

[2016-10-16 00:32] mfkaptan commented on #69
Which one do you think is better for the `#id` ?
![image](https://cloud.githubusercontent.com/assets/3976573/19414287/e8450d20-9347-11e6-90be-0c1b740e58d5.png)
![image](https://cloud.githubusercontent.com/assets/3976573/19414293/44f30a68-9348-11e6-88e8-c98cf45f0e41.png)
![image](https://cloud.githubusercontent.com/assets/3976573/19414300/6e28ecae-9348-11e6-94a7-0733ab0857dc.png)
![image](https://c

[2016-10-16 00:44] goldbergtatyana commented on #69
I go for 3, as i think the id is not so important for the users. Beautiful things 👍

[2016-10-16 13:41] #127 closed

[2016-10-16 13:54] #124 closed

[2016-10-16 15:06] MajorBreakfast commented on #80
@sacdallago Why did you assign me to this? I just saw that you assigned me a few days ago and I didn't know anything about it! If I had known I wouldn't have redesigned the PokeDex! What to do now? I can build the card. But proper mob integration is a lot more work. I thought @johartl was on it

[2016-10-16 18:21] MajorBreakfast commented on #118
PR merged

[2016-10-16 18:21] #118 closed

[2016-10-17 03:04] sacdallago commented on #80
I assigned you and @Georrgi because one week ago @johartl was overloaded and I thought it'd be fair to redistribute a bit of the work :)

I thought this was only about the design, not the full integration. I seriously hope that is taken care of.

[2016-10-17 03:06] sacdallago commented on #69
2 For me :see_no_evil: that slightly little different BG color in 3 makes me cry a little

[2016-10-17 08:42] MajorBreakfast commented on #79
Can someone else take that one over for me? I'm pretty busy with the MobCard, then the remaining adjustments to the filter UI. I cannot handle this as well.

[2016-10-17 08:43] MajorBreakfast opened #129 "Three state checkbox"
For the filter UI type buttons we need a checkbox with three states:

- `none`: Empty box
- `some`: Box with a circle
- `all`: Box with a check mark

[2016-10-17 09:41] goldbergtatyana commented on #69
I noticed the bg color only after looking closely on the phone. Didn't recognize the box when was on laptop. If we make the box fly altogether, will it make you smile again @sacdallago :))

[2016-10-17 09:46] gyachdav commented on #69
I would just remove the ID altogether (info overload). Is there a reason we're showing it?

[2016-10-17 09:54] mfkaptan commented on #69
@gyachdav I guess we don't have a real reason to show it, I'll ask the team

[2016-10-17 10:11] mfkaptan commented on #69
@gyachdav Official pokedex has the ids (don't exactly know why), so I guess we could also keep them(?)
http://www.pokemon.com/us/pokedex/pikachu

[2016-10-17 11:26] MajorBreakfast commented on #69
The id should stay. It was definitely important when I was in school. Each Pokemon had an id from 1 - 151 back then.

[2016-10-17 11:28] MajorBreakfast commented on #80
I'll take care of it. Haven't heard from @Georrgi for quite a while now.

[2016-10-17 11:45] MajorBreakfast commented on #80
I'll take care of it.

BTW I haven't heard from @Georrgi for quite a while now. He hasn't contributed to the project so far. I unassign him for now.

I will work on this this evening.

[2016-10-17 17:15] gyachdav commented on #69
It serves no purpose for our app, other than knowing the ID in case you'll be trading some pokemon cards 😛 . I say remove it.

[2016-10-18 03:22] sacdallago commented on #80
Good to know

[2016-10-18 13:41] MajorBreakfast commented on #69
Okay merged.

I think all points of this issue have been implemented, right?

[2016-10-18 14:50] mfkaptan commented on #69
https://github.com/PokemonGoers/Catch-em-all/issues/69#issuecomment-248594147

If you are content with the pokedex-index then I guess we can close this issue.

[2016-10-18 15:58] MajorBreakfast commented on #69
We could also add a max-width

[2016-10-18 20:15] MajorBreakfast commented on #80
#131 implements the PokeMob card

[2016-10-19 04:31] WoH commented on #90
Updated

[2016-10-19 05:51] MajorBreakfast commented on #90
@sacdallago This issue requires a lot of experience with ionic 2. Should @Georrgi still want to contribute we could find something easier for him. I'm unassigning him here since @WoH has it covered (See rc1 branch). I hope that's okay.

[2016-10-19 05:56] WoH commented on #90
I didn't even see this until now, I agree. Me and @johartl are/will be doing fine here.

[2016-10-19 12:49] MajorBreakfast opened #132 "Prediction Card"
Same as Sighting card, but with a percentage.

[2016-10-20 11:17] sacdallago opened #134 "Going rogue"
Dear @PokemonGoers/catch-em-all ,

I apologize for the silenze these past two days. I'm working heavily to get the site up and running, and unfortunately we didn't have any luck with AWS (with whom I'm still passive-agressively fighting over fax).

BUT.
BUT.

I have found a fallback solutions for two months or so. It's not 100%, I'm still fixing issues here and there with the API docker and bindin

[2016-10-20 13:50] MajorBreakfast commented on #134
What about mentions of Iteratec?

[2016-10-20 18:46] gyachdav commented on #134
Iteratec will get back to us about that.

[2016-10-21 09:37] WoH opened #136 "FilterService: Pass Date() instead of numbers to the map."
Title should say it all.

I don't care who implements this, but do it asap.

[2016-10-21 14:09] johartl commented on #136
Why do you want to pass a date?

[2016-10-21 14:25] AlexanderLill commented on #136
@johartl @WoH Date does not work...:

`http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/ts/Sat,%2022%20Oct%202016%2014:22:59%20GMT/range/-5183998m 500 (Internal Server Error)`

They say in the API documentation that they want "anything that works for `new Date()`...

[2016-10-21 14:32] WoH commented on #136
Poke-Map-1 expects a Date. I don't care how they call the PokeData API and it's irrelevant.

[2016-10-21 14:32] AlexanderLill commented on #136
Which map do we currently use in develop? I tried it with a date, it doesnt work.

See #137 for the PR

Btw, shouldnt both Map teams expect the same format?

[2016-10-21 18:15] johartl commented on #136
Why would we use a Date?? There are so many things wrong about this.
- https://github.com/PokemonGoers/Catch-em-all/issues/24 clearly states that we are using time in seconds as parameters. This API hasn't changed for over a month and both teams agreed to adhere to this interface. If we start passing Dates now this will break things for the PokeMap-2 team.
- If we use a Date this means that `sight

[2016-10-21 20:54] WoH commented on #136
It does not matter if time passes on in the ap or on the map.
I talked to them and we agreed to use Date(). My bad, I didn't update the closed Issue where it is specified.

[2016-10-21 21:52] johartl commented on #136
Why wouldn't it matter? The PokeMap should just do the transformation on their own. This  prevents all mentioned problems  and is basically just one line of code on their side.

[2016-10-21 23:33] WoH commented on #136
It's literally just the same amount of code for us aswell.
And we don't have to pass numbers but open a useful interface.
And your "solution" does in fact not solve any issues, it just moves the complexity to the map team.

And a Date() is the most useful method to define time in JS. I'd rather have a useful interface for anyone to use than numbers.

[2016-10-22 03:24] sacdallago commented on #136
@WoH I agree with @johartl on this one. I understand thought why you want to represent Dates as Dates. Can't you internally define it as Date but pass it on as timeInMs? Date objects are hard to handle and pass around, that's why most of the time they are downcast to UNIX time stamps. They (map teams) need to construct a Date from a timestamp, no biggie. If they had to read a Date object they'd ha

[2016-10-22 14:28] sacdallago commented on #132
Has anyone picked this up?

[2016-10-22 14:29] sacdallago commented on #100
Ok. I believe this can be closed. If anything comes up, we will reopen or reference

[2016-10-22 14:29] #100 closed

[2016-10-22 14:30] sacdallago commented on #117
Updates?

[2016-10-22 14:38] sacdallago opened #138 "Curtain call"
Dear @PokemonGoers/catch-em-all -ers, it's time to meet the feature freeze!

I would like to set the feature freeze to coming **Monday, 24th Oct, @ 23:59**. What this means is: by Monday evening you should finalize the implementation of the open features and get rid of those you think are too immature to make it to production. This also means that after Monday you will still have time to fix event

[2016-10-22 19:09] WoH commented on #136
@sacdallago @johartl I took over when no one wanted to take care of that. I agreed to use Date(). Poke-Map-1 implemented the Map accordingly. I didn't communicate that properly, that was my bad. If we want to use numbers to represent the Time in seconds from now, it would be fair to implement the change and submit a PR over there or ask them very nicely to change their interface. Feel free to do t

[2016-10-22 20:48] gqinami commented on #136
We can do that, it is ok. Just let us know if this is your final decision, so we change from Date() to time in seconds

[2016-10-23 02:59] sacdallago opened #139 "Too many ridirects"
Hey guys,

still working on the final deployment. Apart from it being hard to judge if stuff is not working because it's not working or it's not working because something is wrong on the deployment, I have one issue which I'm pretty sure is a mixture of how the app needs to be deployed and how you have implemented things.

If you try to go to the pokedex on htpps://predictemall.online and you open

[2016-10-23 10:48] johartl commented on #139
@sacdallago We already have environment variables for all API endpoints. See the defaults in the Dockerfile

[code]

My first guess would be to set them as follows

[code]

Edit: Btw, I don't see the errors in my console. Have you solved the issue already?

[2016-10-23 11:04] johartl commented on #136
@gqinami

Yes please stick to the original interface definition from #24 using the relative time in seconds.

[2016-10-23 11:35] WoH commented on #90
Updated.

[2016-10-23 11:50] #80 closed

[2016-10-23 11:52] WoH commented on #74
Handled by #129

[2016-10-23 11:52] #74 closed

[2016-10-23 11:53] #110 closed

[2016-10-23 12:15] johartl commented on #136
Fixed by https://github.com/PokemonGoers/PokeMap-1/pull/41

[2016-10-23 12:15] #136 closed

[2016-10-23 13:53] sacdallago commented on #136
Good.

[2016-10-23 14:01] sacdallago commented on #139
What you are saying is very different from what I am complaining about :D I'm changing the env vars already through my docker-compose file ( read https://github.com/PokemonGoers/PokeData/issues/191 ). My suggestion was to have another env var, which would avoid one redirect: the redirect from `http` to `https` as far as the protocol for the API goes. Your calls do the following: I call http://api.

[2016-10-23 15:20] johartl commented on #139
@sacdallago In your docker-compose file from https://github.com/PokemonGoers/PokeData/issues/191#issue-184668019 you have

[code]

My suggestion was to to add `https://` to both `API_ENDPOINT` and `WEBSOCKET_ENDPOINT`.

But I guess since everything is working now (?) it's fine :D

[2016-10-23 15:35] #90 closed

[2016-10-23 15:36] #77 closed

[2016-10-23 15:36] WoH opened #143 "Docker Question"
@sacdallago what OS is our container running?

[2016-10-23 15:48] johartl commented on #134
What should we do with the following section from the About page? Remove it entirely?

[2016-10-23 15:57] #143 closed

[2016-10-23 16:14] johartl opened #144 "Request timeout for /socket.io/socket.io.js"
@sacdallago Something with the nginx configuration does not seem to be right. The request for https://predictemall.online/socket.io/socket.io.js times out eventually. Maybe it has something to do with #139 ?

[2016-10-23 16:48] WoH commented on #134
WIP: https://github.com/PokemonGoers/Catch-em-all/tree/going_rogue

[2016-10-23 16:50] #69 closed

[2016-10-23 16:52] WoH commented on #53
If anything needs to be discussed, please go there: #134

[2016-10-23 16:52] #53 closed

[2016-10-23 16:53] WoH commented on #79
I guess this is not going to happen, but I'll try another bump!

[2016-10-23 16:53] WoH commented on #117
PokeMap-1 apparently solved that by downgrading leaflet.

[2016-10-23 16:53] #117 closed

[2016-10-23 19:20] WoH commented on #138
Looking good so far:
https://github.com/PokemonGoers/Catch-em-all/projects

[2016-10-23 19:29] WoH commented on #134
@johartl https://github.com/PokemonGoers/Catch-em-all/commit/b4595729dd0a59e95b2426df5b671e88b8dd9c39

[2016-10-23 19:42] WoH commented on #134
- [Disclaimer](https://github.com/PokemonGoers/Catch-em-all/blob/going_rogue/ionic2/src/pages/imprint/imprint.page.html)
- [About](https://github.com/PokemonGoers/Catch-em-all/blob/going_rogue/ionic2/src/pages/about/about.page.html)

Anything we should do about [these](https://github.com/PokemonGoers/Catch-em-all/blob/going_rogue/ionic2/src/services/project-groups.service.ts#L15) links?

[2016-10-23 19:43] WoH commented on #134
@sacdallago @gyachdav @goldbergtatyana @juanmirocks
- [Disclaimer](https://github.com/PokemonGoers/Catch-em-all/blob/going_rogue/ionic2/src/pages/imprint/imprint.page.html)
- [About](https://github.com/PokemonGoers/Catch-em-all/blob/going_rogue/ionic2/src/pages/about/about.page.html)

Is this fine?

Anything we should do about [these](https://github.com/PokemonGoers/Catch-em-all/blob/going_rogue/i

[2016-10-23 22:07] johartl commented on #144
Seems to be magically fixed now. I hope it stays like this :)

[2016-10-23 22:07] #144 closed

[2016-10-24 04:29] sacdallago commented on #144
if it fixed itself, it shouldn't have had. I haven't yet exported the port for the websocket :D Are you sure everything works there? It would be.. very, VERY strange

[2016-10-24 04:31] sacdallago commented on #134
Looks fine to me.

Links can stay, @gyachdav ?

[2016-10-24 04:34] sacdallago commented on #138
@WoH at least someone has some sense of music around here!

[2016-10-24 04:35] sacdallago commented on #143
Ubuntu 14.04. Why? Who cares? :D

It's google cloud platform btw

[2016-10-24 04:39] sacdallago commented on #139
wouldn't adding the protocol overwrite something somewhere? I imagine you use those variables either to:
1. `http.get(API_ENDPOINT)`
2. `get("http://" + API_ENDPOINT)`

So I fear that adding the protocol will either break the thing or be completely pointless(in case 1). It works, yes. But this is an issue anyway :)

[2016-10-24 07:32] johartl commented on #139
We are using the variable consistently in the first way and so far nothing has been broken yet ;)
And can you explain how the first way of using it is completely pointless?

[2016-10-24 09:24] gyachdav commented on #134
Still waiting for Iterate. Stand by for updates.

[2016-10-24 13:27] MajorBreakfast commented on #139
Just a side note:
There are protocol relative URLs, e.g. `//example.com` (double slash at the beginning)
https://www.paulirish.com/2010/the-protocol-relative-url/

[2016-10-24 13:33] MajorBreakfast opened #151 "Fix Filter UI Data Binding"
When switching between the two tabs the sliders don't keep their value properly.

[2016-10-24 13:45] MajorBreakfast commented on #68
What's the progress on this? Can we get a preliminary version merged?

[2016-10-24 13:52] MajorBreakfast commented on #138
Yo, slim shady xD

We're currently working on:
- Filter UI: Currently has data binding bugs, my three state checkbox issue open and then we need to fix the selection behavior. Assuming that the map team has implemented filtering correctly this should be doable.
- Notifications: @johartl picked it up and worked on it
- Pokemon Tweets: @mfkaptan is working on it. I've just bumped the issue #68
- Pre

[2016-10-24 13:55] MajorBreakfast commented on #132
#148

[2016-10-24 14:17] WoH commented on #132
Since I implemented and merged this, I'll close this issue

[2016-10-24 14:17] #132 closed

[2016-10-24 14:21] WoH commented on #151
Can you elaborate please? Does this happen on develop? I checked the hosted app https://predictemall.online/index.html and not only did it get my previous settings from localstorage, but switching between tabs didn't seem to be an issue. Both slider and selection values.

[2016-10-24 14:58] MajorBreakfast opened #152 "Fix Filter Visibility Toggle Behavior"
Currently when clicking the toggle to enable or disable the visibility of predictions and sightings the slider underneath does not immediately update. If I had to guess it's because of Angular's change detection. Instead of updating at once it takes 1-3 seconds for the slider to reflect the new value.

![toggle](https://cloud.githubusercontent.com/assets/340142/19650847/f8b03a58-9a0a-11e6-87c9-f74

[2016-10-24 14:59] MajorBreakfast commented on #151
It was on https://predictemall.online and just minutes ago. But I can't reproduce it for the world now. Maybe I mistook the effects of #152 and that's why the slider jumped. I'll reopen with a video should I be able to reproduce it.

[2016-10-24 14:59] #151 closed

[2016-10-24 17:55] MajorBreakfast commented on #152
I only get this behavior on predictemall.online. I don't get it locally. (I made a fresh install locally BTW)

[2016-10-24 17:58] MajorBreakfast opened #153 "MapPage ionViewDidEnter error: _.debounce is not a function"
When I develop locally I get the following now:

![debounce](https://cloud.githubusercontent.com/assets/340142/19657348/25246898-9a24-11e6-90d3-a7d546f63b71.png)

I just ran `npm install -g ionic`, deleted the `node_modules/` folder and reinstalled everything.

[2016-10-24 18:01] MajorBreakfast commented on #153
Ah, I should note the because of this the map now doesn't show.

[2016-10-24 22:58] sacdallago commented on #153
That seems like a discriminative feature, yes. For me that error doesn't occur, though.

[2016-10-24 23:00] sacdallago commented on #152
I got this also with previous versions, on svc. The sliders + togglers seem to behave quite strangely

[2016-10-24 23:05] sacdallago commented on #138
![](http://static.tumblr.com/ifpspe0/zL1m78md7/eminemapproves.jpg)

I'll try to figure out the websocket issue ( @johartl knows what I'm talking about). Reverse proxy + firewall should do, but I'm traveling to SFO so expect slight delays. @gyachdav and @goldbergtatyana will ping the s**\* out of me if anything urgent comes up :)

[2016-10-24 23:07] sacdallago commented on #139
ok, I'll try out the suggestions on a test instance when I'm back from SFO in a week :)

But since this is working, I'll close for now, and sorry for talking to the dead :D

[2016-10-24 23:14] mfkaptan commented on #68
@MajorBreakfast @johartl It seems nobody stores twitter texts. The only way to get tweet texts is via websockets - live sentiment analysis (no api endpoint available) o_O

https://github.com/PokemonGoers/PokeData/issues/189
https://github.com/PokemonGoers/HashPokemonGo/issues/19

[2016-10-25 06:54] goldbergtatyana opened #154 "Pokemon sightings / pokemon predictions"
Hey @PokemonGoers/catch-em-all , thanks for your creative idea of showing pokemons sightings and predictions using the two sliders. The implementation of sliders is beautiful!

Few comments:
- please add a mouse hover text above the icon for sightings and predictions (the blue circle with the white filter) telling something like "show pokemon sightings and predictions"
- we are making pokemon pred

[2016-10-25 07:10] johartl commented on #154
You are aware that hover texts won't work on touch devices? Maybe we should find a solution which works on all devices consistently.

[2016-10-25 07:10] bensLine commented on #154
Predictions are for the current timestamp. every 15min the training set for the classifier is updated

[2016-10-25 07:15] goldbergtatyana commented on #154
Nope, not aware :) Well, the icon needs to be self explanatory somehow. What if we have a picture of a pokemon, or even better yet a pulsating image of the location pin (so that it immediately grabs the attention of the user) instead of the blue circle?

[2016-10-25 09:30] gyachdav commented on #154
You guys know that currently we do not get updated sightings since all sources are down (except for twitter but the number of reported sightings there is very low). Please verify with @sacdallago and @PokemonGoers/pokedata but currently there is no point in trying to update the model.

[2016-10-25 09:35] gyachdav commented on #134
Here is the response from Iteratec:
- [ ]  it is important that the Liability Notice with reference to the person responsible is included (as present at the moment). Stand by to decision who the responsible person may be.
- [ ] Regarding  the mentioning of iteratec and the usage of the icon, the following is okay:
  a)       In the burger menu at the bottom  the logo can be placed together with th

[2016-10-25 11:03] MajorBreakfast commented on #154
@goldbergtatyana

No problem

We could add a label "Filter Options". We'll come up with something

[2016-10-25 12:06] MajorBreakfast commented on #68
You can use the id to embed the tweet like you see it on various places on the internet. That's even better since we then get pictures and proper formatting including clickable links and hashtags.

Here's a random theverge.com article that has some embedded tweets: http://www.theverge.com/2016/6/24/12023212/brexit-explained-economy-politics-and-the-rest-of-this-mess

[2016-10-25 12:37] MajorBreakfast commented on #153
I've just now deleted my local repository entirely and reinstalled everything. This still persists.

[2016-10-25 13:05] gyachdav commented on #68
What is the state of the sentiment analysis? Are you able to display that? are you getting the data from HashPokemonGo?

[2016-10-25 13:27] MajorBreakfast commented on #68
I've removed @Georrgi, @Lugitan as they have only contributed minimally to the project so far (0 and 1 commit(s)). I expect @mfkaptan is on his own here.

@Georrgi, @Lugitan Should you want to work on this we can add you back

[2016-10-25 17:57] WoH commented on #153
https://github.com/PokemonGoers/PokeMap-1/blob/develop/module/main.js#L155
^ My tip.

We are calling initializeMap in MapPage's ionViewDidEnter. Weird coincidence that the Map doesn't show if something fails in there ;)

Would be nice if you could open up an issue @PokemonGoers/pokemap-1 and ask them to look into it.

[2016-10-25 18:14] AlexanderLill commented on #136
I agree :)

On Oct 21, 2016 23:52, "Jochen Hartl" notifications@github.com wrote:

[2016-10-26 13:31] MajorBreakfast commented on #129
Progress: A PR that provides preparation work for the checkbox was merged #155

[2016-10-26 21:01] sacdallago commented on #154
@gyachdav I doubt that the services will be up anytime soon! We have to drive people to use twitter in a way that works for our app.

[2016-10-27 11:21] #153 closed

[2016-10-27 11:21] #79 closed

[2016-10-28 19:34] sacdallago commented on #139
Yay, it was too good to be true!

It now happens consistently :) And I have no idea of how to fix this, tried:

[code]

[code]

[code]

[code]

[code]

The last one didn't work at all :) the other ones give all sorts of problems, but mainly the `TOO_MANY_REDIRECTS`.

Don't worry about `WEBSOCKET_ENDPOINT`, for me what is important is that `API_ENDPOINT` works correctly.

[2016-10-29 13:24] johartl commented on #139
@sacdallago Where do you see the `TOO_MANY_REDIRECTS` error? In the browser console or in the node server log of the CatchEmAll container?
Is there some way for me to reproduce it? For example using curl?

In theory, it should work like this:
(This is just my understanding of the proxy chain, please correct me where I'm wrong)
1. The browser sends a request to `window.location.origin + '/api/pokem

[2016-10-29 14:04] johartl commented on #139
@sacdallago Can you please redeploy as soon as https://hub.docker.com/r/pokemongoers/catch-em-all/builds/bmhxzjysukghvxqaomvgxvn/ is done building to get the changes from #158.

[2016-10-29 14:43] WoH opened #159 "PokemonTab: TypeSelection is broken"
If you select a type in the Pokemon filter, no Pokemon will show.
![typefilter](https://cloud.githubusercontent.com/assets/2697771/19830375/d2864c4c-9df6-11e6-898d-096a4eb133c1.png)

[2016-10-29 14:50] WoH commented on #152
Looks fine on android and using ionic serve. I can try to investigate this at a later point.

[2016-10-29 15:04] AlexanderLill commented on #159
@WoH might this be related to the switch to RC1?

[2016-10-29 15:50] WoH commented on #159
Unlikely, I suspect the refactor by @MajorBreakfast might have something to do with this. However, I don't blame him, the whole thing looks rather fragile.

[2016-10-30 16:41] sacdallago commented on #139
@johartl sorry for the delay: everything redeploys automatically (so as soon as stuff builds on hub, give it like 5 min?).

The errors happen in the chrome console @ predictemall.online . I will be a bit more active starting tomorrow (am currently at a Google conference)

[2016-10-30 17:17] johartl commented on #139
This afternoon when I checked there was still an old container active (from Oct 27th). So either something is wrong with the automated deployment or with my cache :/
Anyway, I don't see any redirect errors in the console right now for predictemall.online (and I think I've never seen any in the past).

[2016-10-31 18:02] sacdallago commented on #139
Yup, not happening on my machine anymore either. I'm not happy that this thing is not happening consistently. Need to stress test it once I'm back from SFO, btw check your email

[2016-10-31 18:08] sacdallago opened #161 "Maintenance notice"
Between the 8th and 11th Nov, the infrastructure where I'm hosting svc is gonna go down for maintenance.

If by then I can migrate also the development images to the other cloud account / machine, I'll let you know, but expect two days of down.

This is actually a good imposed condition to start using predictemall.online for all testing purposes.

[2016-10-31 18:09] sacdallago commented on #161
Holds valid for @PokemonGoers/catch-em-all too!

[2016-11-01 17:57] johartl commented on #139
I suspect this had something to do with the service worker cache not being flushed. I tackled this issue in #162.

Also, I found that some request were send to `http://pokedata.c4e3f8c7.svc.dockerapp.io:65014` directly. I fixed the issue in #164, however, I don't think that this caused any redirects.

Thanks for that mail! I'm going to investigate further once #162 #163 and #164 are merged and dep

[2016-11-02 16:09] MajorBreakfast opened #165 "Windows: REQUEST_PROXY=true environment variable"
`build:browser": "ionic prepare && REQUEST_PROXY=true ionic build browser"`

Environment variable setting syntax is different on windows. The trick to cross platform scripts is to keep them super simple. Can we remove this again?

@johartl You broke it ;)

[2016-11-07 10:10] gyachdav commented on #134
@johartl @WoH @MajorBreakfast please bring this to a close. We want to launch the app.

[2016-11-11 17:42] WoH commented on #134
@gyachdav Does this make sense while the PokeData API is down and the socket.io integration by is still messed up.

[2016-11-11 17:43] WoH commented on #134
Also, who is this person:

[2016-11-12 07:47] sacdallago commented on #161
This holds now till nov 21st. But is irrelevant for this project

[2016-11-12 07:47] #161 closed

[2016-11-12 07:50] sacdallago commented on #134
@WoH yeah. Sorry for that, I'm trying to push the two teams (predictions and data). The API will be up soon again, hopefully!

That person shall be @Georrgi :D He won't mind! ahahahahahahahahahaahahah JK, figuring out with @gyachdav and @goldbergtatyana :D

[2016-11-12 11:58] WoH commented on #134
Lmao.

In all seriousness, please make sure that we can reach the data api and ideally, it would be nice if it would also have actual data to get there. I can start mocking everything for final testing purposes, but I don't like that idea too much.

I can finalize everything on the legal side within one hour.

[2016-11-12 12:02] WoH commented on #161
How about releasing on 22nd so I get a nice b-day present on top :dancing_women: :champagne:

[2016-11-12 15:45] sacdallago commented on #161
It would have been cool if they finished yesterday too, on my birthday :princess:

[2016-11-12 15:49] sacdallago commented on #134
@WoH data. Data is an issue. I'll check back with A if they have any clue what the status on bypassing the new firewalls on niantic's side are

[2016-11-12 15:51] WoH commented on #134
@sacdallago If you look at the sources listed by the @PokemonGoers/pokedata Team, there is plenty of data to get there ;)

[2016-11-17 09:18] #165 closed

[2016-11-20 13:32] WoH commented on #161
Belated Happy Birthday!
Have you already agreed on a person to blame in the disclaimer?

[2016-11-20 16:35] gyachdav commented on #161
Please put for now that Nom Ekop is the responsible person. Thanks

Sent from my iPhone

[2016-11-29 02:13] #138 closed